@charset 'utf-8';

/* --------------------------------------------------------------------------------
	common.css chang / modifier
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 140px;
}

@media screen and (max-width: 768px) {
  #container {
    padding-bottom: 70px;
  }
}

.page-introduction--location {
  margin-bottom: 74px;
}

@media screen and (max-width: 768px) {
  .page-introduction--location {
    margin-bottom: 40px;
  }
}

.section__title-block--shopping {
  margin-bottom: 40px;
}

.section__title-block--education {
  margin-bottom: 73px;
}

@media screen and (max-width: 768px) {
  .section__title-block--education {
    margin-bottom: 40px;
  }
}

.section__heading--shopping {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section__heading--shopping {
    margin-bottom: 15px;
  }
}

.section__heading--education {
  margin-bottom: 54px;
}

@media screen and (max-width: 768px) {
  .section__heading--education {
    margin-bottom: 30px;
  }
}

.section__heading--child-care {
  margin-bottom: 33px;
}

@media screen and (max-width: 768px) {
  .section__heading--child-care {
    margin-bottom: 20px;
  }
}

.text--shopping {
  margin-bottom: 18px;
}

.caption-in-right--setagaya {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .caption-in-right--setagaya {
    text-align: right;
  }
}

/* --------------------------------------------------------------------------------
	location common
-------------------------------------------------------------------------------- */
.section__image-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section__image-block:after {
  content: '';
  display: block;
  width: calc(314 / 1000 * 100%);
}

.section__one-third-image {
  width: calc(314 / 1000 * 100%);
}

@media screen and (max-width: 768px) {
  .section__one-third-image {
    width: calc(50% - 5px);
    margin-bottom: 8px;
  }

  .section__one-third-image:last-child {
    margin-bottom: 0;
  }
}

.section__image-inner {
  position: relative;
  max-width: 314px;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------
	setagaya
-------------------------------------------------------------------------------- */
.setagaya {
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .setagaya {
    margin-bottom: 60px;
  }
}

.setagaya__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.setagaya__wide-image {
  position: relative;
  margin-bottom: 10px;
}

.setagaya__half-image {
  position: relative;
  width: calc(495 / 1000 * 100%);
  max-width: 495px;
}

@media screen and (max-width: 768px) {
  .setagaya__half-image {
    width: calc(50% - 5px);
  }
}

/* --------------------------------------------------------------------------------
	shopping
-------------------------------------------------------------------------------- */
.shopping {
  margin-bottom: 140px;
}

@media screen and (max-width: 768px) {
  .shopping {
    margin-bottom: 70px;
  }
}

.shopping__main-block {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 33px;
  background: url("../imgs/bg-shopping.png") no-repeat right top;
  position: relative;
}

@media screen and (max-width: 768px) {
  .shopping__main-block {
    padding-top: 0;
    background: none;
  }
}

.shopping__text-block {
  position: relative;
  width: calc(365 / 1000 * 100%);
  margin-bottom: 142px;
}

@media screen and (max-width: 768px) {
  .shopping__text-block {
    width: 100%;
    margin-bottom: 40px;
  }
}

.shopping__map {
  display: none;
}

@media screen and (max-width: 768px) {
  .shopping__map {
    display: block;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .shopping__map__caption {
    position: absolute;
  }
}

.shopping__image-inner {
  width: calc(314 / 1000 * 100%);
}

@media screen and (max-width: 768px) {
  .shopping__image-inner {
    width: calc(50% - 5px);
    margin-bottom: 8px;
  }

  .shopping__image-inner:last-child {
    margin-bottom: 0;
  }
}

.shopping__image {
  position: relative;
  max-width: 314px;
  margin: 0 auto;
}

.shopping__caption {
  position: absolute;
  top: 405px;
  left: 635px;
}

@media screen and (max-width: 768px) {
  .shopping__caption {
    display: none;
  }
}

/* --------------------------------------------------------------------------------
	education
-------------------------------------------------------------------------------- */
.education {
  margin-bottom: 135px;
}

@media screen and (max-width: 768px) {
  .education {
    margin-bottom: 70px;
  }
}

.education .composite-block {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .education .composite-block {
    margin-bottom: 40px;
  }
}

/* --------------------------------------------------------------------------------
	child-care
-------------------------------------------------------------------------------- */
.child-care {
  margin-bottom: 120px;
  padding: 93px 0 95px;
  background-color: #f2f2f3;
}

@media screen and (max-width: 768px) {
  .child-care {
    padding: 50px 0;
  }
}

.child-care__composite-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.child-care__col {
  width: calc(314 / 1000 * 100%);
}

@media screen and (max-width: 768px) {
  .child-care__col {
    width: calc(50% - 5px);
    margin-bottom: 30px;
  }

  .child-care__col:last-child {
    margin-bottom: 0;
  }
}

.child-care__col-inner {
  max-width: 314px;
  margin: 0 auto;
}

.child-care__image {
  position: relative;
  margin-bottom: 27px;
}

@media screen and (max-width: 768px) {
  .child-care__image {
    margin-bottom: 15px;
  }
}

.child-care__heading {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 1.6px;
}

@media screen and (max-width: 768px) {
  .child-care__heading {
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.8px;
  }
}

/* --------------------------------------------------------------------------------
	lifeinfo
-------------------------------------------------------------------------------- */
.lifeinfo__title {
  margin-bottom: 60px;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 5.8px;
  text-align: center;
  color: #677482;
}

.lifeinfo__map {
  margin-bottom: 40px;
}

.lifeinfo__list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .lifeinfo__list-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.lifeinfo__col {
  width: calc(480 / 1000 * 100%);
}

@media screen and (max-width: 768px) {
  .lifeinfo__col {
    width: 100%;
  }

  .lifeinfo__col:first-of-type {
    margin-bottom: 30px;
  }
}

.lifeinfo__field {
  margin-bottom: 30px;
}

.lifeinfo__field:last-of-type {
  margin-bottom: 0;
}

.lifeinfo__subtitle {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2.7px;
  text-align: left;
  color: #677482;
}

.lifeinfo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5px;
  font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  line-height: 2.57;
  letter-spacing: 2.1px;
}

@media screen and (max-width: 768px) {
  .lifeinfo__item {
    margin-bottom: 10px;
    line-height: 1.8;
    letter-spacing: 1px;
  }
}

.lifeinfo__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 17px;
  border-bottom: 1px dotted #000;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .lifeinfo__item:before {
    height: 10px;
  }
}

.lifeinfo__item:last-child {
  margin-bottom: 0;
}

.lifeinfo__facility {
  background-color: #fff;
  padding-right: 10px;
}

.lifeinfo__distance {
  background-color: #fff;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .lifeinfo__distance {
    width: 100%;
    padding-left: 0;
    text-align: right;
  }
}
