@charset 'utf-8';

/* --------------------------------------------------------------------------------
	common.css chang / modifier
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 140px;
}

@media screen and (max-width: 768px) {
  #container {
    padding-bottom: 70px;
  }
}

/* --------------------------------------------------------------------------------
	floorplan
-------------------------------------------------------------------------------- */
.floorplan__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  background-color: #000810;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .floorplan__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.floorplan__type {
  padding: 48px 0;
  width: calc(280 / 1000 * 100%);
  background: url("../../assets/imgs/bg-marble.jpg") no-repeat center;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 6.7px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .floorplan__type {
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    letter-spacing: 3.4px;
  }
}

.floorplan__type__num {
  font-size: 60px;
  letter-spacing: 8.4px;
}

@media screen and (max-width: 768px) {
  .floorplan__type__num {
    font-size: 48px;
    letter-spacing: 3.2px;
  }
}

.floorplan__spec {
  width: calc(720 / 1000 * 100%);
  padding: 5px 0 15px calc(50 / 1000 * 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-family: 'EB Garamond', serif;
}

@media screen and (max-width: 768px) {
  .floorplan__spec {
    width: 100%;
    padding: 10px 10px 20px;
  }
}

.floorplan__spec:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 37px 186px 0;
  border-color: transparent #000810 transparent transparent;
  position: absolute;
  top: 0;
  left: -37px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .floorplan__spec:before {
    display: none;
  }
}

.floorplan__ldk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .floorplan__ldk {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: normal;
  }
}

.floorplan__ldk__num {
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .floorplan__ldk__num {
    font-size: 31px;
  }
}

.floorplan__ldk__storage-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.floorplan__ldk__storage {
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Noto Serif Japanese', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 16px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .floorplan__ldk__storage {
    font-size: 10px;
  }
}

.floorplan__site {
  line-height: 1;
  letter-spacing: 2.1px;
}

@media screen and (max-width: 768px) {
  .floorplan__site {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
  }
}

.floorplan__area-num {
  margin: 0 5px;
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .floorplan__area-num {
    font-size: 38px;
  }
}

.floorplan__area-small-num {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .floorplan__area-small-num {
    font-size: 20px;
  }
}

.floorplan__area-unit {
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .floorplan__area-unit {
    font-size: 17px;
  }
}

.floorplan__area-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .floorplan__area-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5px;
  }
}

.floorplan__building {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .floorplan__building {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .floorplan__service {
    margin-top: 10px;
  }
}

.floorplan__body {
  margin-bottom: 80px;
  padding: 20px 0 27px;
  border: 1px solid #000810;
  border-top: none;
}

@media screen and (max-width: 768px) {
  .floorplan__body {
    margin-bottom: 40px;
  }
}

.floorplan__cap-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 46px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .floorplan__cap-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

.floorplan__cap-area {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1.8px;
}

@media screen and (max-width: 768px) {
  .floorplan__cap-area {
    margin-bottom: 5px;
    letter-spacing: 0.9px;
  }
}

.floorplan__heading {
  margin-bottom: 30px;
  padding: 0 calc(70 / 998 * 100%);
  font-size: 20px;
  line-height: 2;
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .floorplan__heading {
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
}

.floorplan__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 735px;
  margin: 0 auto 40px;
}

@media screen and (max-width: 768px) {
  .floorplan__point {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

.floorplan__point-item {
  position: relative;
  width: calc(350 / 735 * 100%);
  margin-bottom: 30px;
  padding: 15px 10px;
  border: 2px solid #948049;
  font-size: 18px;
  letter-spacing: 2.7px;
  line-height: 1.43;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .floorplan__point-item {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 1.4px;
  }
}

.floorplan__point-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #948049;
}

.floorplan__point-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .floorplan__point-item:nth-last-child(-n + 2) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .floorplan__point-item:last-child {
    margin-bottom: 0;
  }
}

.floorplan__point-item__small {
  font-size: 14px;
  letter-spacing: 2.1px;
}

@media screen and (max-width: 768px) {
  .floorplan__point-item__small {
    font-size: 12px;
    letter-spacing: normal;
  }
}

.floorplan__figure {
  margin-bottom: 45px;
}

.floorplan__note-block {
  max-width: 370px;
  margin-left: auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .floorplan__note-block {
    padding: 0 10px;
  }
}

.floorplan__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.floorplan__note-item {
  position: relative;
  padding-left: 35px;
  margin-right: 10px;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .floorplan__note-item {
    margin-right: 5px;
    letter-spacing: normal;
  }
}

.floorplan__note-item:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 10px;
  margin-top: -6px;
}

.floorplan__note-item:last-child {
  margin-right: 0;
}

.floorplan__note-item--hot:before {
  background-color: #efe8ec;
  border: 1px dashed #7d7571;
}

.floorplan__note-item--storage:before {
  background-color: #eee9e1;
  border: 1px solid #7d7571;
}

.floorplan__note-item--water:before {
  background-color: #e8ecee;
  border: 1px solid #7d7571;
}

.floorplan__note-item--under {
  padding-left: 22px;
}

.floorplan__note-item--under:before {
  width: 17px;
  height: 17px;
  margin-top: -9px;
  background: url("../imgs/icn-under.svg") no-repeat;
  background-size: cover;
}

.floorplan__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .floorplan__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.floorplan__link {
  display: block;
  position: relative;
  width: calc(314 / 1000 * 100%);
  margin: 0 15px;
  padding: 9.5px 0;
  border: solid 1px #8c6c43;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  line-height: 1;
  letter-spacing: 4.2px;
  text-align: center;
  color: #8c6c43;
}

@media screen and (max-width: 768px) {
  .floorplan__link {
    width: 100%;
    margin: 0 auto;
  }
}

.floorplan__link:hover {
  letter-spacing: 8.4px;
}

@media screen and (max-width: 768px) {
  .floorplan__link:hover {
    letter-spacing: 4.2px;
  }
}

@media screen and (max-width: 768px) {
  .floorplan__link--print {
    display: none;
  }
}

/* --------------------------------------------------------------------------------
	print
-------------------------------------------------------------------------------- */
@media print {

  .header-property,
  .low-main-visual,
  .floorplan__btn,
  .ftrCVarea,
  .ftrNav,
  .ftrCaption,
  .box-bukken-contact,
  .ttl-property-main,
  #seasonSliderAllWrap,
  .box-bukken,
  .area-user-footer,
  .footer-property {
    display: none;
  }

  body {
    zoom: 0.8;
  }
}
