@charset 'utf-8';
/* --------------------------------------------------------------------------------
	common.css chang / modifier
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 140px;
}
@media screen and (max-width: 768px) {
  #container {
    padding-bottom: 70px;
  }
}
/* --------------------------------------------------------------------------------
	car-space
-------------------------------------------------------------------------------- */
.car-space {
  margin-bottom: 133px;
}
@media screen and (max-width: 768px) {
  .car-space {
    margin-bottom: 60px;
  }
}
.car-space .composite-block {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .car-space .composite-block {
    margin-top: 30px;
  }
}
.car-space .composite-block__image-field {
  width: calc(496 / 1000 * 100%);
  max-width: 496px;
}
@media screen and (max-width: 768px) {
  .car-space .composite-block__image-field {
    width: 100%;
    max-width: 100%;
  }
}
/* --------------------------------------------------------------------------------
	floorplan
-------------------------------------------------------------------------------- */
.floorplan .section__heading {
  margin-bottom: 53px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .floorplan .section__heading {
    margin-bottom: 30px;
  }
}
.floorplan__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.floorplan__field {
  width: calc(486 / 1000 * 100%);
  padding-bottom: 20px;
  background: #000810;
}
@media screen and (max-width: 768px) {
  .floorplan__field {
    width: 100%;
    margin-bottom: 30px;
  }
  .floorplan__field:last-of-type {
    margin-bottom: 0;
  }
}
.floorplan__link {
  color: #fff;
}
.floorplan__link:hover .floorplan__btn {
  letter-spacing: 8.4px;
}
@media screen and (max-width: 768px) {
  .floorplan__link:hover .floorplan__btn {
    letter-spacing: 4.2px;
  }
}
.floorplan__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1;
}
.floorplan__type {
  width: 24.742268041237114%;
  background: url("../../assets/imgs/bg-marble.jpg") no-repeat center;
  font-size: 12px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .floorplan__type {
    width: 100%;
    padding: 15px 0;
  }
}
.floorplan__type__name {
  font-size: 47px;
}
.floorplan__spec {
  width: 75.2577319588%;
  padding: 5px 0 10px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-family: 'EB Garamond', serif;
}
@media screen and (max-width: 768px) {
  .floorplan__spec {
    width: 100%;
    padding: 10px 15px 20px;
    text-align: center;
  }
}
.floorplan__spec:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 115px 0;
  border-color: transparent #000810 transparent transparent;
  position: absolute;
  top: 0;
  left: -25px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .floorplan__spec:before {
    content: none;
    border-width: 25px 200px 0 0;
    border-color: transparent #000810 transparent transparent;
    position: absolute;
    top: -25px;
    left: 0;
  }
}
.floorplan__ldk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .floorplan__ldk {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
  }
}
.floorplan__ldk__num {
  font-size: 41px;
}
@media screen and (max-width: 768px) {
  .floorplan__ldk__num {
    font-size: 31px;
  }
}
.floorplan__ldk__storage-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.floorplan__ldk__storage {
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Noto Serif Japanese', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 10px;
  line-height: 1;
}
.floorplan__size {
  font-family: 'EB Garamond', serif;
  font-size: 19px;
}
@media screen and (max-width: 768px) {
  .floorplan__size {
    margin-top: 5px;
    font-size: 17px;
  }
}
.floorplan__size__area-01 {
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Noto Serif Japanese', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 10px;
  margin-right: 5px;
}
.floorplan__size__area-02 {
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Noto Serif Japanese', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 10px;
}
.floorplan__size__num {
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .floorplan__size__num {
    font-size: 22px;
  }
}
.floorplan__figure {
  width: 96.90721649484536%;
  background: #fff;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .floorplan__figure {
    display: none;
  }
}
.floorplan__btn {
  position: relative;
  width: 210px;
  margin: 20px auto 0;
  padding: 9.5px 0;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  line-height: 1;
  letter-spacing: 4.2px;
  text-align: center;
  border: solid 1px #a08765;
  color: #f5d7b0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(160,135,101,0.5)), color-stop(45%, #e0bc8c), color-stop(55%, #e0bc8c), to(rgba(160,135,101,0.5)));
  background: -webkit-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  background: -o-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  background: linear-gradient(90deg, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .floorplan__btn {
    margin: 0 auto;
  }
}
.floorplan__btn:before {
  content: '';
  width: 60%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#a08765), color-stop(20%, #e0bc8c), color-stop(80%, #e0bc8c), to(#a08765));
  background: -webkit-linear-gradient(left, #a08765 0%, #e0bc8c 20%, #e0bc8c 80%, #a08765 100%);
  background: -o-linear-gradient(left, #a08765 0%, #e0bc8c 20%, #e0bc8c 80%, #a08765 100%);
  background: linear-gradient(90deg, #a08765 0%, #e0bc8c 20%, #e0bc8c 80%, #a08765 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  margin: auto;
  z-index: 2;
}
.floorplan__btn:after {
  content: '';
  width: 60%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#a08765), color-stop(20%, #e0bc8c), color-stop(80%, #e0bc8c), to(#a08765));
  background: -webkit-linear-gradient(left, #a08765 0%, #e0bc8c 20%, #e0bc8c 80%, #a08765 100%);
  background: -o-linear-gradient(left, #a08765 0%, #e0bc8c 20%, #e0bc8c 80%, #a08765 100%);
  background: linear-gradient(90deg, #a08765 0%, #e0bc8c 20%, #e0bc8c 80%, #a08765 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  margin: auto;
  z-index: 2;
}
