@charset 'utf-8';
/* --------------------------------------------------------------------------------
	common.css chang / modifier
-------------------------------------------------------------------------------- */
#container {
  padding: 140px 0;
}
@media screen and (max-width: 768px) {
  #container {
    padding: 70px 0;
  }
}
/* --------------------------------------------------------------------------------
	outline
-------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .outline .wrap {
    width: 100%;
  }
}
