@charset 'utf-8';
/* --------------------------------------------------------------------------------
	common.css change
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 140px;
}
@media screen and (max-width: 768px) {
  #container {
    padding-bottom: 70px;
  }
}
.section__title-block--access {
  padding: 50px 0 60px;
}
.section__title-block--access:before {
  height: 100%;
  background: url("../imgs/bg-marble.jpg") left;
}
.section__title-block--access:after {
  height: 100%;
}
/* --------------------------------------------------------------------------------
	access common
-------------------------------------------------------------------------------- */
.access-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .access-visual {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.access-visual__image {
  position: relative;
  width: calc(446 / 960 * 100%);
  max-width: 446px;
}
@media screen and (max-width: 768px) {
  .access-visual__image {
    width: auto;
    margin: 0 auto 30px;
  }
}
.access-visual__image--topic {
  position: relative;
}
.access-visual__image--topic:after {
  content: '';
  position: absolute;
  top: -35px;
  right: -25px;
  width: 112px;
  height: 112px;
  background: url("../imgs/tag-topic.png") no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .access-visual__image--topic:after {
    width: 56px;
    height: 56px;
    top: -18px;
    right: -12px;
  }
}
.access-visual__texts {
  width: calc(465 / 960 * 100%);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .access-visual__texts {
    width: 100%;
  }
}
.access-visual__heading {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 3.6px;
}
@media screen and (max-width: 768px) {
  .access-visual__heading {
    font-size: 19px;
    letter-spacing: 1.8px;
  }
}
/* --------------------------------------------------------------------------------
	access-route
-------------------------------------------------------------------------------- */
.access-route {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .access-route {
    margin-bottom: 60px;
  }
}
.access-route__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 110px;
}
@media screen and (max-width: 768px) {
  .access-route__image-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.access-route__large-image {
  width: calc(660 / 1000 * 100%);
  max-width: 660px;
}
@media screen and (max-width: 768px) {
  .access-route__large-image {
    width: auto;
    margin: 0 auto 10px;
  }
}
.access-route__image-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(330 / 1000 * 100%);
  max-width: 660px;
}
@media screen and (max-width: 768px) {
  .access-route__image-unit {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: auto;
    margin: 0 auto;
  }
}
.access-route__small-image {
  margin: 0 0 10px 0;
}
@media screen and (max-width: 768px) {
  .access-route__small-image {
    width: calc(50% - 5px);
    margin: 0 10px 0 0;
  }
}
.access-route__small-image:last-child {
  margin: 0;
}
.access-route__map {
  position: relative;
  margin-bottom: 87px;
}
@media screen and (max-width: 768px) {
  .access-route__map {
    margin-bottom: 45px;
  }
}
.access-route__title {
  position: relative;
  margin-bottom: 32px;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-align: left;
  color: #b8ac9d;
}
@media screen and (max-width: 768px) {
  .access-route__title {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
}
.access-route__title:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b8ac9d;
  z-index: -1;
}
.access-route__title-inner {
  display: inline-block;
  padding-right: 20px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .access-route__title-inner {
    padding-right: 10px;
  }
}
.access-route__station-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .access-route__station-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.access-route__station-list {
  width: calc(480 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .access-route__station-list {
    width: 100%;
    margin-bottom: 20px;
  }
  .access-route__station-list:last-of-type {
    margin-bottom: 0;
  }
}
.access-route .station-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__item {
    margin-bottom: 20px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.access-route .station-list__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  border-bottom: 1px dotted #000;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__item:before {
    display: none;
  }
}
.access-route .station-list__item:last-child {
  margin-bottom: 0;
}
.access-route .station-list__name {
  padding-right: 10px;
  font-size: 18px;
  letter-spacing: 2.7px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__name {
    font-size: 14px;
    letter-spacing: normal;
  }
}
.access-route .station-list__name-inner {
  font-size: 24px;
  letter-spacing: 3.6px;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__name-inner {
    font-size: 18px;
    letter-spacing: normal;
  }
}
.access-route .station-list__time {
  padding-left: 10px;
  font-size: 18px;
  background-color: #fff;
  font-size: 12px;
  line-height: 2.67;
  letter-spacing: 1.8px;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__time {
    padding-left: 0;
    font-size: 10px;
    letter-spacing: normal;
  }
}
.access-route .station-list__num {
  font-size: 36px;
  line-height: 0.89;
  letter-spacing: normal;
  color: #677482;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__num {
    font-size: 24px;
  }
}
.access-route .station-list__minutes {
  padding-right: 5px;
  font-size: 18px;
  letter-spacing: 2.7px;
}
@media screen and (max-width: 768px) {
  .access-route .station-list__minutes {
    font-size: 14px;
    letter-spacing: normal;
  }
}
.access-route .station-list__minutes:last-of-type {
  padding-right: 0;
}
.access-route__caption {
  margin-top: 10px;
}
/* --------------------------------------------------------------------------------
	access-train
-------------------------------------------------------------------------------- */
.access-train {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .access-train {
    margin-bottom: 60px;
  }
}
.access-train__point {
  padding: 115px 0 100px;
  background-color: #f2f2f3;
}
@media screen and (max-width: 768px) {
  .access-train__point {
    padding: 115px 0 50px;
  }
}
.access-train__point-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .access-train__point-block {
    display: block;
  }
}
.access-train .point-block__col {
  width: calc(486 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .access-train .point-block__col {
    width: 100%;
    margin-bottom: 40px;
  }
  .access-train .point-block__col:last-of-type {
    margin-bottom: 0;
  }
}
.access-train .point-block__field {
  position: relative;
  margin-bottom: 50px;
  padding: 30px 0 0;
  background-color: #e0e3e7;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__field {
    margin-bottom: 40px;
    padding: 25px 0 0;
  }
}
.access-train .point-block__field:last-of-type {
  margin-bottom: 0;
}
.access-train .point-block__heading {
  position: absolute;
  top: -30px;
  left: 30px;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  line-height: 0.63;
  letter-spacing: 3.4px;
  color: #677482;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__heading {
    top: -25px;
    font-size: 19px;
  }
}
.access-train .point-block__heading-num {
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 8.4px;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__heading-num {
    font-size: 48px;
    letter-spacing: 4.2px;
  }
}
.access-train .point-block__subheading {
  padding: 13px 0 13px 30px;
  background-color: #02182f;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 1.8px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__subheading {
    padding: 13px 15px 13px;
    font-size: 16px;
    letter-spacing: 0.9px;
  }
}
.access-train .point-block__subheading__large {
  font-size: 24px;
  letter-spacing: 2.4px;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__subheading__large {
    font-size: 19px;
    letter-spacing: 1.2px;
  }
}
.access-train .point-block__subheading--point3 {
  font-size: 24px;
  letter-spacing: 2.4px;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__subheading--point3 {
    font-size: 19px;
    letter-spacing: 1.2px;
  }
}
.access-train .point-block__body {
  padding: 20px calc(19 / 486 * 100%) 27px;
}
.access-train .point-block__body .caption {
  margin-top: 10px;
}
.access-train .point-block__body--point3 {
  padding-bottom: 31px;
}
@media screen and (max-width: 768px) {
  .access-train .point-block__body--point3 {
    padding-bottom: 27px;
  }
}
.access-train .point-block__image {
  margin-top: 20px;
  text-align: center;
}
.access-train__point-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .access-train__point-list {
    display: block;
  }
}
.access-train__cap {
  margin-top: 28px;
}
/* --------------------------------------------------------------------------------
	route-search
-------------------------------------------------------------------------------- */
.route-search {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .route-search {
    margin-bottom: 60px;
  }
}
.route-search .wrap--route-search {
  padding: 60px 80px 70px;
  background: url("../imgs/bg-route-search.jpg") no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .route-search .wrap--route-search {
    padding: 30px 20px 35px;
  }
}
.route-search__heading {
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: 7.5px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .route-search__heading {
    font-size: 22px;
    letter-spacing: 3.8px;
  }
}
.route-search__heading__small {
  font-size: 20px;
  letter-spacing: 5px;
}
@media screen and (max-width: 768px) {
  .route-search__heading__small {
    font-size: 15px;
    letter-spacing: 2.5px;
  }
}
.route-search .text--route-search {
  margin-bottom: 55px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .route-search .text--route-search {
    margin-bottom: 30px;
    text-align: left;
  }
}
.route-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .route-search__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 35px;
  }
}
.route-search__form:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -8px 0 0 -12px;
  border: 8px solid transparent;
  border-top: 8px solid #fff;
  border-right: 8px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .route-search__form:after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: -12px 0 0 -8px;
  }
}
.route-search .form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .route-search .form__block {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.route-search .form__block--goal {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .route-search .form__block--goal {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
  }
}
.route-search .form__text {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  color: #97abc0;
}
@media screen and (max-width: 768px) {
  .route-search .form__text {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.route-search .form__input {
  width: 230px;
  margin: 0 30px;
  background-color: #fff;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 2.4px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .route-search .form__input {
    width: 180px;
    margin: 0 15px;
    font-size: 19px;
    letter-spacing: 1.2px;
  }
}
.route-search .form__input--start {
  padding: 10px 0;
}
.route-search .form__input--goal {
  height: 46px;
}
@media screen and (max-width: 768px) {
  .route-search .form__input--goal {
    height: 39px;
  }
}
.route-search__link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  border: solid 1px #a08765;
  color: #f5d7b0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(160,135,101,0.5)), color-stop(45%, #e0bc8c), color-stop(55%, #e0bc8c), to(rgba(160,135,101,0.5)));
  background: -webkit-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  background: -o-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  background: linear-gradient(90deg, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .route-search__link {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.5px;
  }
}
.route-search__link:before,
.route-search__link:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  height: 1px;
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(160,135,101,0.5)), color-stop(20%, #e0bc8c), color-stop(80%, #e0bc8c), to(rgba(160,135,101,0.5)));
  background: -webkit-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 20%, #e0bc8c 80%, rgba(160,135,101,0.5) 100%);
  background: -o-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 20%, #e0bc8c 80%, rgba(160,135,101,0.5) 100%);
  background: linear-gradient(90deg, rgba(160,135,101,0.5) 0%, #e0bc8c 20%, #e0bc8c 80%, rgba(160,135,101,0.5) 100%);
  z-index: 2;
}
.route-search__link:before {
  top: -1px;
}
.route-search__link:after {
  bottom: -1px;
}
.route-search__link:hover {
  letter-spacing: 6px;
}
@media screen and (max-width: 768px) {
  .route-search__link:hover {
    letter-spacing: 3px;
  }
}
/* --------------------------------------------------------------------------------
	access-simulation
-------------------------------------------------------------------------------- */
.access-simulation {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .access-simulation {
    margin-bottom: 50px;
  }
}
.access-simulation__main-block {
  padding: 60px 0 98px;
  background-color: #f2f2f3;
}
@media screen and (max-width: 768px) {
  .access-simulation__main-block {
    padding: 30px 0 50px;
  }
}
.access-simulation__both-ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .access-simulation__both-ways {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.access-simulation__col {
  width: calc(486 / 1000 * 100%);
  max-width: 486px;
  border: solid 1px #8e7048;
}
@media screen and (max-width: 768px) {
  .access-simulation__col {
    width: auto;
    margin: 0 auto 20px;
  }
  .access-simulation__col:last-child {
    margin-bottom: 0;
  }
}
.access-simulation__col-heading {
  padding: 10px 0;
  background-color: #8e7048;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .access-simulation__col-heading {
    font-size: 16px;
  }
}
.access-simulation__col-body {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .access-simulation__col-body {
    padding: 10px;
  }
}
/* --------------------------------------------------------------------------------
	access-highway
-------------------------------------------------------------------------------- */
.access-highway__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .access-highway__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.access-highway__col {
  width: calc(486 / 1000 * 100%);
  max-width: 486px;
}
@media screen and (max-width: 768px) {
  .access-highway__col {
    width: auto;
    margin: 0 auto;
  }
}
.access-highway__col:first-of-type {
  margin-bottom: 20px;
}
.access-highway__heading {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 3px;
}
@media screen and (max-width: 768px) {
  .access-highway__heading {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
}
.access-highway__list {
  margin-top: 25px;
}
.access-highway__guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 10px 20px 7px;
  border-bottom: 1px solid #b8ac9d;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 768px) {
  .access-highway__guide {
    padding: 10px 5px 7px;
    font-size: 13px;
    letter-spacing: 0.6px;
  }
}
.access-highway__guide:first-of-type {
  border-top: 1px solid #b8ac9d;
}
.access-highway__guide__num {
  font-size: 30px;
  line-height: 0.5;
  color: #677482;
}
@media screen and (max-width: 768px) {
  .access-highway__guide__num {
    font-size: 23px;
  }
}
