@charset 'utf-8';
/* --------------------------------------------------------------------------------
	wide-visual
-------------------------------------------------------------------------------- */
.wide-visual {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .wide-visual {
    margin-bottom: 50px;
  }
}
.wide-visual__image-wrap {
  position: relative;
}
.wide-visual__image-wrap .caption-out-right {
  right: 10px;
}
.wide-visual__image {
  width: 100%;
}
/* --------------------------------------------------------------------------------
	site-layout
-------------------------------------------------------------------------------- */
.site-layout {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .site-layout {
    margin-bottom: 40px;
  }
}
.site-layout__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .site-layout__block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.site-layout__illust {
  position: relative;
  width: calc(657 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .site-layout__illust {
    width: auto;
    margin-bottom: 30px;
  }
}
.site-layout__point-column {
  width: calc(314 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .site-layout__point-column {
    width: auto;
  }
}
.site-layout__point-item {
  width: auto;
  margin-bottom: 20px;
}
.site-layout__point-item:last-child {
  margin-bottom: 0;
}
.site-layout__point-image {
  position: relative;
}
.site-layout__point-image .caption-in-right {
  right: 30px;
  bottom: 30px;
  color: #000;
  font-weight: normal;
}
/* --------------------------------------------------------------------------------
	about-town
-------------------------------------------------------------------------------- */
.about-town {
  margin-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .about-town {
    margin-bottom: 50px;
  }
}
.about-town .section__heading {
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  .about-town {
    margin-bottom: 30px;
  }
}
.about-town__composite-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .about-town__composite-block {
    margin-top: 40px;
  }
}
.about-town__field {
  width: calc(314 / 1000 * 100%);
  margin-bottom: 55px;
}
@media screen and (max-width: 768px) {
  .about-town__field {
    width: 48%;
    margin-bottom: 30px;
  }
}
.about-town__field:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .about-town__field:nth-last-child(-n + 3) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .about-town__field:last-child {
    margin-bottom: 0;
  }
}
.about-town__field-inner {
  max-width: 314px;
  margin: 0 auto;
}
.about-town__image {
  position: relative;
  margin-bottom: 38px;
}
@media screen and (max-width: 768px) {
  .about-town__image {
    margin-bottom: 20px;
  }
}
.about-town__subheading {
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 1.8px;
}
@media screen and (max-width: 768px) {
  .about-town__subheading {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.9px;
  }
}
.about-town__subheading-small {
  display: block;
  font-size: 14px;
  letter-spacing: 1.4px;
}
@media screen and (max-width: 768px) {
  .about-town__subheading-small {
    font-size: 10px;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
  }
}
/* --------------------------------------------------------------------------------
	town-plan
-------------------------------------------------------------------------------- */
.town-plan {
  background-color: #f2f2f3;
  padding: 115px 0 100px;
}
@media screen and (max-width: 768px) {
  .town-plan {
    padding: 60px 0 50px;
  }
}
.town-plan__green {
  position: relative;
  padding: 30px 0 60px;
  background-color: #e0e3e7;
}
@media screen and (max-width: 768px) {
  .town-plan__green {
    padding: 20px 0 40px;
  }
}
.town-plan__title {
  position: absolute;
  top: -12px;
  left: 30px;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 3.4px;
  text-align: left;
  color: #677482;
}
@media screen and (max-width: 768px) {
  .town-plan__title {
    top: -10px;
    font-size: 19px;
    letter-spacing: 1.7px;
  }
}
.town-plan__heading {
  max-width: 486px;
  margin-bottom: 25px;
  padding: 7px 30px;
  background-color: #02182f;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 1.8px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .town-plan__heading {
    font-size: 16px;
    letter-spacing: 0.9px;
    padding: 7px 15px;
  }
}
.town-plan__body {
  padding: 0 calc(30 / 1000 * 100%);
  padding: 0 15px;
}
.town-plan__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 33px;
}
@media screen and (max-width: 768px) {
  .town-plan__image-block {
    margin-top: 20px;
  }
}
.town-plan__image {
  width: calc(180 / 940 * 100%);
}
@media screen and (max-width: 768px) {
  .town-plan__image {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
  .town-plan__image:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
.town-plan__image-inner {
  position: relative;
  max-width: 180px;
  margin: 0 auto;
}
