@charset "utf-8";

/******************************

 * style
 *
 * 1. import
 * 2. html, body
 * 3. tag
 * 4. Layout（全ページ共通）
 * 5. Layout（下層共通）
 * 6. popup

******************************/

/* --------------------------------------------------------------------------------
	1. import
-------------------------------------------------------------------------------- */
@import "import/reset.css";
@import "import/util.css";

/* --------------------------------------------------------------------------------
	2. font
-------------------------------------------------------------------------------- */
/*---- Garamond ----*/
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i');

/*---- Noto ----*/
@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 200;
	src: url("../font/NotoSerifCJKjp/NotoSerifCJKjp-ExtraLight.woff") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 300;
	src: url("../font/NotoSerifCJKjp/NotoSerifCJKjp-Light.woff") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 400;
	src: url("../font/NotoSerifCJKjp/NotoSerifCJKjp-Regular.woff") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Noto Serif Japanese";
	font-style: normal;
	font-weight: 700;
	src: url("../font/NotoSerifCJKjp/NotoSerifCJKjp-Bold.woff") format("opentype");
	font-display: swap;
}

/*---- YuGothicStd ----*/
@font-face {
	font-family: 'YuGothicStd';
	font-style: normal;
	font-weight: 300;
	src: url('../font/YuGothicStd/YuGothicStd-L.woff') format('woff');
}

@font-face {
	font-family: 'YuGothicStd';
	font-style: normal;
	font-weight: 400;
	src: url('../font/YuGothicStd/YuGothicStd-M.woff') format('woff');
}

/* --------------------------------------------------------------------------------
	3. nomura-template
-------------------------------------------------------------------------------- */
.header-property {
	background: none;
}

.header-property-top-bg {
	background: #fff;
}

.contents-property {
	padding-top: 82px !important;
}

.nav-global-property {
	border-bottom: solid 1px #6d7a87;
	background: rgba(1, 23, 46, .6);
}

.nav-global-property-link:after {
	transition: 1s;
}

.nav-global-property-link:hover::after,
.nav-global-property-link.is-current:after {
	border-bottom-color: #d3aa68;
}

.box-bukken-contact,
.ttl-property-main {
	background: #051321;
}

@media only screen and (max-width:1200px) {
	.header-property {
		background: #fff;
	}
}

@media only screen and (max-width:768px) {
	.contents-property {
		padding-top: 0px !important;
	}

	.android .contents-property {
		padding-top: 0 !important;
	}
}

.ftrCVarea {
	background: url(../imgs/bg-bricks.jpg) no-repeat center;
	background-size: cover;
	padding: 3px 0;
	position: relative;
	text-align: center;
	border-top: solid 2px #896b45;
	border-bottom: solid 2px #896b45;
	font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight: 500;
}

.ftrCVarea:before {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0, 0) 20%, rgb(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 2;
}

.ftrCVarea .ftrCVarea--inner {
	border-top: solid 1px #896b45;
	border-bottom: solid 1px #896b45;
	padding: 85px 0 90px;
	position: relative;
	z-index: 3;
}

.ftrCVarea--ttl {
	font-size: 14px;
	color: #d4c7b7;
	line-height: 1;
	letter-spacing: 0.25em;
	margin-bottom: 40px;
}

.ftrCVarea__text {
	font-size: 18px;
	color: #fff;
	line-height: 1.86;
	letter-spacing: 2.2px;
}

.ftrCVarea .ftrCVarea--cvBtn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.ftrCVarea .ftrCVarea--cvBtn li {
	background: #fff;
}

.ftrCVarea .ftrCVarea--cvBtn li:last-child {
	margin-left: 30px;
}

.ftrCVarea .ftrCVarea--cvBtn li a {
	width: 315px;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 17px 0;
	transition: .6s;
}

.ftrCVarea .ftrCVarea--cvBtn li.ftrCVarea--cvBtn__request a {
	background: linear-gradient(90deg, rgb(141, 109, 67) 0%, rgb(185, 143, 89) 30%, rgb(185, 143, 89) 70%, rgb(141, 109, 67) 100%);
}

.ftrCVarea .ftrCVarea--cvBtn li a:hover {
	opacity: .9;
}

@media only screen and (max-width:768px) {
	.ftrCVarea .ftrCVarea--inner {
		padding: 55px 0 50px;
	}

	.ftrCVarea__text {
		font-size: 14px;
		letter-spacing: 1.1px;
	}

	.ftrCVarea .ftrCVarea--cvBtn {
		margin-top: 30px;
	}

	.ftrCVarea .ftrCVarea--cvBtn li {
		width: 70%;
	}

	.ftrCVarea .ftrCVarea--cvBtn li:last-child {
		margin-left: 0;
		margin-top: 15px;
	}

	.ftrCVarea .ftrCVarea--cvBtn li a {
		width: 100%;
		font-size: 14px;
	}
}

/* ftrNav */
.ftrNav {
	/* background: #051321; */
	background-color: #020c17;
	font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight: 500;
}

.ftrNav .ftrNav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 0;
}

.ftrNav .ftrNav-list li {
	text-align: center;
	position: relative;
}

.ftrNav .ftrNav-list li:last-child:before {
	content: '';
	width: 2px;
	height: 10px;
	background: #2f3439;
	position: absolute;
	left: 0;
	top: 5px;
}

.ftrNav .ftrNav-list li a {
	display: block;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.01em;
	line-height: 1;
	padding: 0 32px;
	position: relative;
}

.ftrNav .ftrNav-list li:after {
	content: '';
	width: 2px;
	height: 10px;
	background: #2f3439;
	position: absolute;
	right: 0;
	top: 5px;
}

.ftrNav .ftrNav-list li a:hover,
.ftrNav .ftrNav-list .ftrNav-link.is-current {
	color: #e6c190;
}

/* ftrCaption */
.ftrCaption {
	background: #051321;
	padding: 25px 0;
	border-top: solid 1px #37424d;
	border-bottom: solid 1px #37424d;
}

@media only screen and (max-width:768px) {
	.ftrNav .ftrNav-list {
		padding: 0;
	}

	.ftrNav .ftrNav-list li {
		width: 50%;
		border-top: solid 1px #2f3439;
		border-right: solid 1px #2f3439;
	}

	.ftrNav .ftrNav-list li:nth-child(even) {
		border-right: none;
	}

	.ftrNav .ftrNav-list li:first-child,
	.ftrNav .ftrNav-list li:nth-child(2) {
		border-top: none;
	}

	.ftrNav .ftrNav-list li:after,
	.ftrNav .ftrNav-list li:last-child:before {
		content: none;
	}

	.ftrNav .ftrNav-list li a {
		padding: 15px 0;
	}
}

/* --------------------------------------------------------------------------------
	3. html, body
-------------------------------------------------------------------------------- */

body {
	background-color: #fff;
	letter-spacing: 0.15em;
	font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-feature-settings: "palt";
}

#accessibilityNav {
	display: none;
}


/*****
 * 3. tag
*****/

/* anchor */
a {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
	background-position: top left;
	transition: .3s;
}


a:hover {
	text-decoration: none;
}

/* img */
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

sup {
	font-size: 10px;
	vertical-align: text-top;
	letter-spacing: normal;
}

/* telephone */
.telephone {
	pointer-events: none;
}

@media only screen and (max-width:768px) {
	.telephone {
		pointer-events: visible;
	}
}


/*****
 * 4. Layout
*****/
/* wrap */
.wrap {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width:768px) {
	.wrap {
		width: auto;
		padding: 0 20px;
	}
}



/* section */
/* .section {
	padding-bottom: 120px;
}

.section .subSection {
	padding-bottom: 60px;
}

.section .subSection:last-child {
	padding-bottom: 0;
}

@media only screen and (max-width:768px) {
	.section {
		padding-bottom: 60px;
	}

	.section .subSection {
		padding-bottom: 30px;
	}
} */


/* siteCopy */
#siteCopy {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	background: #c6c6c6;
	color: #fff;
	font-size: 10px;
	text-align: center;
}

@media only screen and (max-width:768px) {
	#siteCopy {
		letter-spacing: .1em;
		line-height: 1.5;
	}
}


/* Header */
#gHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 16px 16px 24px;
	background: #fff;
	z-index: 9999;
}

#gHeader>section,
#gHeader .navArea {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#gHeader a {
	display: block;
	font-family: 'hareMin', serif;
	line-height: 1;
}

#gHeader a:hover {
	text-decoration: none;
}

/* hdrLogo */
/* #hdrLogo {} */

@media only screen and (max-width:768px) {
	#gHeader {
		position: absolute;
		height: 56px;
		padding: 5px;
		background: transparent;
		box-sizing: border-box;
	}

	#gHeader>section {
		height: 100%;
	}

	#hdrLogo {
		width: 70px;
	}
}


/* gNav */
#gNav {
	margin-right: 30px;
}

#gNav ul {
	display: flex;
}

#gNav a {
	position: relative;
	padding: 10px;
	font-size: 12px;
}

#gNav a::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 2px;
	background: #e9ae30;
	opacity: 0;
	transition: .3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#gNav .on a,
#gNav a:hover {
	color: #e9ae30;
}

#gNav .on a::before,
#gNav a:hover::before {
	width: 100%;
	opacity: 1;
}

#gNav .off a {
	opacity: .5;
	pointer-events: none;
}

@media only screen and (max-width:1350px) {
	#gNav {
		width: 405px;
	}

	#gNav ul {
		flex-wrap: wrap;
	}
}

@media only screen and (max-width:768px) {
	#gNav {
		display: none;
		overflow-y: scroll;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		background: #e9ae30;
		box-sizing: border-box;
		z-index: 200;
	}

	#gNav ul {
		position: relative;
		display: block;
		height: 100%;
		padding: 50px 0;
		text-align: center;
		box-sizing: border-box;
	}

	#gNav ul::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 1px;
		height: 0%;
		background: rgba(255, 255, 255, .1);
		transition: 1.0s 0.5s;
	}

	#gNav.gNav-active ul::before {
		height: 100%;
	}

	#gNav.gNav-active li {
		opacity: 0;
	}

	#gNav.gNav-active li:nth-child(1) {
		-webkit-animation: navAnime 0.4s 0s ease-in-out forwards;
		animation: navAnime 0.4s 0s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(2) {
		-webkit-animation: navAnime 0.4s 0.1s ease-in-out forwards;
		animation: navAnime 0.4s 0.1s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(3) {
		-webkit-animation: navAnime 0.4s 0.2s ease-in-out forwards;
		animation: navAnime 0.4s 0.2s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(4) {
		-webkit-animation: navAnime 0.4s 0.3s ease-in-out forwards;
		animation: navAnime 0.4s 0.3s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(5) {
		-webkit-animation: navAnime 0.4s 0.4s ease-in-out forwards;
		animation: navAnime 0.4s 0.4s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(6) {
		-webkit-animation: navAnime 0.4s 0.5s ease-in-out forwards;
		animation: navAnime 0.4s 0.5s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(7) {
		-webkit-animation: navAnime 0.4s 0.6s ease-in-out forwards;
		animation: navAnime 0.4s 0.6s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(8) {
		-webkit-animation: navAnime 0.4s 0.7s ease-in-out forwards;
		animation: navAnime 0.4s 0.7s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(9) {
		-webkit-animation: navAnime 0.4s 0.8s ease-in-out forwards;
		animation: navAnime 0.4s 0.8s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(10) {
		-webkit-animation: navAnime 0.4s 0.9s ease-in-out forwards;
		animation: navAnime 0.4s 0.9s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(11) {
		-webkit-animation: navAnime 0.4s 1.0s ease-in-out forwards;
		animation: navAnime 0.4s 1.0s ease-in-out forwards;
	}

	#gNav.gNav-active li:nth-child(12) {
		-webkit-animation: navAnime 0.4s 1.1s ease-in-out forwards;
		animation: navAnime 0.4s 1.1s ease-in-out forwards;
	}

	@-webkit-keyframes navAnime {
		from {
			opacity: 0;
			-webkit-transform: translateX(30px);
			transform: translateX(30px);
		}

		to {
			opacity: 1;
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}

	@keyframes navAnime {
		from {
			opacity: 0;
			-webkit-transform: translateX(30px);
			transform: translateX(30px);
		}

		to {
			opacity: 1;
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}

	#gNav a,
	#gNav a:hover,
	#gNav .on a {
		color: #fff;
	}

	#gNav a {
		padding: 12px;
	}
}

@media only screen and (max-width:768px) and (orientation: landscape) {
	#gNav ul {
		height: auto;
	}
}

/* pNav */
#pNav,
#pNav .pNav_cv {
	display: flex;
	align-items: center;
}

#pNav ul {
	margin-right: 35px;
}

#pNav ul:last-child {
	margin-right: 0;
}

#pNav .pNav_misc li {
	margin-bottom: 10px;
}

#pNav .pNav_misc li:last-child {
	margin-bottom: 0;
}

#pNav .pNav_misc a {
	position: relative;
	padding-left: 15px;
	font-size: 11px;
}

#pNav .pNav_misc a::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 5.2px;
	border-color: transparent transparent transparent #333;
	transition: .3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#pNav .pNav_cv a {
	width: 165px;
	padding: 12px 20px;
	font-size: 14px;
}

#pNav .on a {
	color: #e9ae30;
}

#pNav .pNav_misc a:hover::before {
	border-color: transparent transparent transparent #e9ae30;
}

@media only screen and (max-width:768px) {
	#pNav {
		display: none;
	}
}

/* spNav */
#spNav,
#spMenu {
	display: none;
}

@media only screen and (max-width:768px) {

	#spNav,
	#spMenu {
		display: block;
	}

	#spNav {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, .05);
	}

	#spNav ul {
		display: flex;
		align-items: stretch;
	}

	#spNav li {
		flex: 1 1 0;
	}

	#spNav a,
	#spNav .icon {
		display: block;
		text-align: center;
	}

	#spNav a {
		padding: 10px;
		font-size: 10px;
		letter-spacing: 0;
		box-sizing: border-box;
	}

	#spNav .icon {
		margin-bottom: 6px;
		color: #e9ae30;
		font-size: 16px;
		line-height: 1;
	}

	#spNav .req {
		background: #e9ae30;
	}

	#spNav .req a,
	#spNav .res a {
		position: relative;
		height: 52px;
		font-size: 10px;
		padding: 10px 0;
	}

	#spNav .req span,
	#spNav .res span {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		color: #fff;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	#spMenu {
		position: fixed;
		top: 5px;
		right: 5px;
		width: 46px;
		height: 46px;
		border-radius: 3px;
		background: #e9ae30;
		z-index: 300;
	}

	#spMenu .icon {
		position: relative;
		display: block;
		width: 20px;
		height: 10px;
		margin: 12px auto 8px;
	}

	#spMenu .icon::before,
	#spMenu .icon::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background: #fff;
		transition: .3s;
	}

	#spMenu .icon::before {
		top: 0;
	}

	#spMenu .icon::after {
		bottom: 0;
	}

	#spMenu span {
		display: block;
		color: #fff;
		font-size: 8px;
		letter-spacing: 0;
		line-height: 1;
		text-align: center;
		transition: .3s;
	}

	/* active */
	#spMenu.spMenu-active .icon::before {
		top: 50%;
		transform: translateY(-1px) rotate(45deg);
	}

	#spMenu.spMenu-active .icon::after {
		bottom: 50%;
		transform: translateY(1px) rotate(-45deg);
	}

	#spMenu.spMenu-active span {
		display: none;
	}
}

@media screen and (max-width:768px) and (orientation: landscape) {
	#spNav {
		display: none;
	}
}

/* Container */
#container {
	text-align: left;
	background-color: transparent;
	font-size: 14px;
	line-height: 1.5;
	font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", "ヒラギノ明朝 Pro W3", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-weight: 500;
	color: #000;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	#container {
		letter-spacing: 0.1em;
	}
}

@media only screen and (max-width:768px) {
	#container {
		min-width: inherit;
		font-size: 12px;
		-webkit-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
}

/* composite-block
----------------------------------------*/
.composite-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.composite-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.composite-block__image-field {
	position: relative;
	width: calc(486 / 1000 * 100%);
	max-width: 486px;
}

@media screen and (max-width: 768px) {
	.composite-block__image-field {
		width: auto;
		margin: 0 auto;
	}
}

.composite-block__text-field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: calc(486 / 1000 * 100%);
	padding: 0 calc(40 / 1000 * 100%) 0 calc(20 / 1000 * 100%);
	border-right: 1px solid #b8ac9d;
	border-bottom: 1px solid #b8ac9d;
}

@media screen and (max-width: 768px) {
	.composite-block__text-field {
		width: 100%;
		margin-top: 20px;
		padding: 0;
		border-right: none;
		border-bottom: none;
	}
}

.composite-block__heading {
	margin-bottom: 40px;
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: 3px;
}

@media only screen and (max-width:768px) {
	.composite-block__heading {
		margin-bottom: 20px;
		font-size: 16px;
		letter-spacing: 1.5px;
	}
}

.composite-block--state_reverse {
	flex-direction: row-reverse;
}

.composite-block__text-field--state_reverse {
	padding: 0 calc(20 / 1000 * 100%) 0 calc(40 / 1000 * 100%);
	border-right: none;
	border-bottom: 1px solid #b8ac9d;
	border-left: 1px solid #b8ac9d;
}

@media screen and (max-width: 768px) {
	.composite-block__text-field {
		padding: 0;
		border-bottom: none;
		border-left: none;
	}
}


/* ftrCV */
#ftrCV {
	position: relative;
	padding: 175px 0;
	background: url(../imgs/bg-ftrcv.jpg) no-repeat center;
	background-size: cover;
}

#ftrCV .ftrCV_filter {
	overflow: hidden;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: inherit;
	background-position: bottom center;
}

#ftrCV .ftrCV_filter::before {
	content: "";
	position: absolute;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	background: inherit;
	background-position: bottom center;
	z-index: 1;
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

@media only screen and (max-width:768px) {
	#ftrCV {
		padding: 0;
		background: none;
	}

	#ftrCV .ftrCV_filter {
		display: none;
	}
}

.cvBox {
	color: #fff;
	font-family: 'hareMin', serif;
	text-align: center;
}

.cvBox .cvBox_txt {
	margin-bottom: 30px;
	font-size: 24px;
	letter-spacing: .3em;
	text-shadow: 0px 0px 6px #000000, 0px 0px 6px #000000, 0px 0px 6px #000000;
}

.cvBox .cvBox_btn {
	text-align: center;
}

.cvBox .cvBox_btn li {
	display: inline-block;
	margin: 0 10px;
}

.cvBox .cvBox_caption {
	position: absolute;
	bottom: 60px;
	right: 10px;
	color: #fff;
	text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
}

@media only screen and (max-width:768px) {
	.cvBox {
		position: relative;
		padding: 50px 0;
		background: url(../imgs/bg-ftrcv.jpg) no-repeat center;
		background-size: cover;
	}

	.cvBox .cvBox_txt {
		font-size: 18px;
	}

	.cvBox .cvBox_caption {
		bottom: 10px;
	}
}

/* fNav */
#fNav {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 2;
}

#fNav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .7);
}

#fNav a {
	display: block;
	padding: 20px 10px;
	color: #000;
	font-size: 10px;
	font-family: 'hareMin', serif;
	line-height: 1;
}

#fNav .on a,
#fNav a:hover {
	color: #dfba6a;
	text-decoration: underline;
}

#fNav .off a {
	opacity: .5;
	pointer-events: none;
}

@media only screen and (max-width:768px) {
	#fNav {
		position: static;
		left: inherit;
		bottom: inherit;
		right: inherit;
		padding: 15px 20px;
		background: #f0f0f0;
		box-sizing: border-box;
	}

	#fNav ul {
		flex-wrap: wrap;
		justify-content: inherit;
		background: transparent;
	}

	#fNav li {
		width: 50%;
		box-sizing: border-box;
	}

	#fNav li:nth-child(2n+1) {
		padding-right: 10px;
	}

	#fNav li:nth-child(2n) {
		padding-left: 10px;
	}

	#fNav a {
		position: relative;
		padding: 15px 10px 15px 25px;
		border-top: 1px solid #dbdbdb;
		color: #333;
		font-size: 12px;
		letter-spacing: -.05em;
	}

	#fNav li:nth-child(-n+2) a {
		border-top: none;
	}

	#fNav a::before {
		content: '';
		position: absolute;
		left: 10px;
		top: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3px 0 3px 5.2px;
		border-color: transparent transparent transparent #333;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	#fNav .on a::before {
		border-color: transparent transparent transparent #dfba6a;
	}

	#fNav a:hover,
	#fNav .on a {
		text-decoration: none;
	}

	#fNav .off a {
		opacity: 1;
		color: #ccc;
	}

	#fNav .off a::before {
		border-color: transparent transparent transparent #ccc;
	}
}

/* pageCap */
.pageCap {
	padding: 50px 0;
}

@media only screen and (max-width:768px) {
	.pageCap {
		padding: 30px 0;
	}
}

/* contact */
#contact {
	position: relative;
	padding: 20px 0;
	border-top: 1px solid #c6c6c6;
	border-bottom: 1px solid #c6c6c6;
	font-family: 'hareMin', serif;
}

#contact .wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contact .contact_name,
#contact .contact_hour {
	font-size: 12px;
	letter-spacing: 0.05em;
}

#contact .contact_tel a {
	font-size: 32px;
	line-height: 1;
}

#contact .contact_holiday {
	padding: 10px 20px 0;
	font-size: 10px;
	color: #ff0000;
	letter-spacing: 0.1em;
	text-align: center;
}

@media only screen and (max-width:768px) {
	#contact {
		padding: 30px 0;
	}

	#contact .wrap {
		display: block;
	}

	#contact .contact_name,
	#contact .contact_tel {
		text-align: center;
		margin-bottom: 15px;
	}

	#contact .contact_tel a {
		font-size: 25px;
	}

	#contact .contact_hour {
		font-size: 10px;
		letter-spacing: -.05em;
	}

	#contact .contact_holiday {
		text-align: left;
	}
}

/* pagetop */
.pagetop {
	position: absolute;
	top: 50%;
	right: 40px;
	width: 40px;
	height: 40px;
	border: 1px solid #ececec;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.pagetop::before,
.pagetop::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 16px;
	height: 1px;
	background: #b8b8b8;
}

.pagetop::before {
	left: 8px;
	-webkit-transform: rotate(-55deg);
	transform: rotate(-55deg);
}

.pagetop::after {
	right: 7px;
	-webkit-transform: rotate(55deg);
	transform: rotate(55deg);
}

@media only screen and (max-width:768px) {
	.pagetop {
		display: none;
	}
}

/* group */
#group {
	padding: 30px 0;
}

#group .wrap {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

#group .group_logo {
	flex: 0 0 255px;
}

#group .group_link {
	display: flex;
	flex-wrap: wrap;
}

#group .group_link,
#group .group_link a {
	font-size: 10px;
	letter-spacing: .05em;
}

#group .group_link a {
	display: block;
	line-height: 1;
}

#group .group_link li {
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid #333;
}

#group .group_link li:nth-child(n+2) {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

#group .group_link .copyright {
	width: auto;
	margin-top: 15px;
}

@media only screen and (max-width:768px) {
	#group .wrap {
		display: block;
	}

	#group .group_logo {
		margin-bottom: 25px;
		text-align: center;
	}

	#group .group_link {
		display: block;
		text-align: center;
	}

	#group .group_link li {
		display: inline-block;
	}

	#group .group_link,
	#group .group_link a {
		font-size: 11px;
	}

	#group .group_link .copyright {
		font-size: 9px;
		margin-top: 20px;
	}
}

/* --------------------------------------------------------------------------------
	5. Layout（下層共通）
-------------------------------------------------------------------------------- */
/* main-visual
----------------------------------------*/
.low-main-visual {
	margin-bottom: 78px;
	padding: 155px 0 0;
	position: relative;
}

.low-main-visual:before {
	content: '';
	width: 100%;
	height: 78.82352941176471%;
	background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0, 0) 20%, rgb(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 2;
}

.low-main-visual:after {
	content: '';
	width: 100%;
	height: 78.82352941176471%;
	background: url(../imgs/bg-bricks.jpg) no-repeat center;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}

.low-main-visual__image {
	opacity: 0;
	width: 84.72222222222221%;
	position: relative;
	z-index: 3;
	transform: translateY(-50px);
	transition: 2s;
}

.low-main-visual__image.fadein {
	opacity: 1;
	transform: translateY(0);
}

.low-main-visual .caption {
	padding: 5px 0 0 5px;
}

@media only screen and (max-width:1200px) {
	.low-main-visual {
		padding: 100px 0 0;
	}
}

@media only screen and (max-width:768px) {
	.low-main-visual {
		margin-bottom: 40px;
		padding: 60px 0 0;
	}
}

/* page-introduction
----------------------------------------*/
.page-introduction {
	margin-bottom: 95px;
}

@media only screen and (max-width:768px) {
	.page-introduction {
		margin-bottom: 50px;
	}
}

.page-introduction__heading {
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 1.53;
	letter-spacing: 3.3px;
}

@media only screen and (max-width:768px) {
	.page-introduction__heading {
		margin-bottom: 20px;
		font-size: 24px;
		letter-spacing: 1.7px;
	}
}

/* section
----------------------------------------*/
.section__title-block {
	padding: 50px 0 0;
	position: relative;
}

.section__title-block:before {
	content: '';
	width: 100%;
	height: 74.24242424242425%;
	background: url(../imgs/bg-marble.jpg) left;
	position: absolute;
	left: 0;
	top: 0;
}

.section__title-block:after {
	content: '';
	width: 62.84722222222222%;
	height: 74.24242424242425%;
	background: #02182f;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.section__title-block .wrap {
	position: relative;
}

.section__title-wrap {
	width: 27.083333333333332%;
	color: #fff;
	position: absolute;
	left: -13.1%;
	top: 124px;
	transform: rotate(-90deg);
}

@media only screen and (max-width:1200px) {
	.section__title-block {
		padding: 35px 0 0;
		position: relative;
	}

	.section__title-block:after {
		width: 32%;
	}

	.section__title-wrap {
		width: 100%;
		transform: none;
		position: static;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width:768px) {
	.section__title-block:before {
		height: calc(265 / 400 * 100%);
		background: url(../imgs/sp/bg-marble.jpg) repeat-x left;
		background-size: contain;
	}

	.section__title-block:after {
		height: calc(265 / 400 * 100%);
	}
}

.section__visual {
	width: 96%;
	margin-left: 4%;
	position: relative;
	z-index: 3;
	opacity: 0;
	transform: translateY(-20px);
	transition: 2s;
}

.section__visual.fadein {
	transform: translateY(0);
	opacity: 1;
}

.section__visual-image {
	width: 100%;
}

@media only screen and (max-width:1200px) {
	.section__visual {
		width: 100%;
		margin-left: 0;
	}
}


/*****
 * 5. global.css 追加・変更
*****/

.nav-global-property-item.is-off,
.ftrNav-item.is-off {
	opacity: .3;
	pointer-events: none;
}

.box-bukken-contact-tel {
	pointer-events: none;
}

.header-property-utility {
	padding: 15px 10px 15px 0;
}

@media only screen and (max-width:768px) {
	.box-bukken-contact-tel {
		pointer-events: auto;
	}

	.header-property-utility {
		padding: 0;
	}
}
