@charset "UTF-8";
/* ==========================================================
 color setting
========================================================== */
/* グローバルナビカラー（PC）
---------------------------------------------------------- */
.nav-global-property {
  background-color: #222a5d;
}

/* グローバルナビカラー（スマホ）
---------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .nav-global-property-list {
    background-color: #151d40;
  }
}

@media screen and (max-width: 1200px) {
  .header-property-menu {
    background-color: #222a5d;
  }
}

/* ハンバーガーメニューカラー（スマホ）
---------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .header-property-btn-menu.is-open {
    background-color: #151d40;
  }
}

/* コンタクトエリア、H1タイトル
---------------------------------------------------------- */
.box-bukken-contact {
  background-color: #222a5d;
}

.ttl-property-main {
  background-color: #222a5d;
}

/* 背景がグリーンの時用 */
.list-bukken-contact-link-green {
  border: 1px solid rgba(255, 255, 255, .3);
}

/* ページトップへ戻るボタン,フッター
---------------------------------------------------------- */
.btn-pagetop-property , .footer-property-link-wrap {
  background-color: #222a5d;
}

/* ==========================================================
 layout setting
========================================================== */
/* nav-global-property（グローバルナビ）
---------------------------------------------------------- */
.nav-global-property-item {
  width: 133px;
  /* 9n */
}

@media screen and (max-width: 1200px) {
  .nav-global-property-item {
    width: 50%;
  }
}

.nav-global-property-item:nth-child(9n) {
  width: 135px;
}

@media screen and (max-width: 1200px) {
  .nav-global-property-item:nth-child(9n) {
    width: 50%;
  }
}

/* list-property-control（「お気に入り」～「資料請求者限定サイト」ボタン群）
---------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .list-property-control-item {
    width: 33.3333%;
  }
}

/* 1200px以下でPCで見るとき */
.is-pc1200l .list-property-control-wrap .list-property-control-item {
  width: 33.3333%;
}

.is-pc1200l .list-property-control-wrap .list-property-control-item.contact {
  display: none;
}

/* ==========================================================
 global navi setting
========================================================== */
/* 配置位置の全体設定 */
.nav-global-property-item.is-new .nav-global-property-link::before {
  top: 5px;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .nav-global-property-item.is-new .nav-global-property-link::before {
    position: relative;
    top: auto;
    right: auto;
  }
}

/* 配置位置の個別設定 */
/* 1段目 */
.nav-global-property-inner-first .nav-global-property-item.is-new:nth-child(9) .nav-global-property-link::before {
  right: 5px;
}

@media screen and (max-width: 1200px) {
  .nav-global-property-inner-first .nav-global-property-item.is-new:nth-child(9) .nav-global-property-link::before {
    right: auto;
  }
}

/* 2段目 */
.nav-global-property-inner-second .nav-global-property-item.is-new:nth-child(1) .nav-global-property-link::before {
  right: 5px;
}

@media screen and (max-width: 1200px) {
  .nav-global-property-inner-second .nav-global-property-item.is-new:nth-child(1) .nav-global-property-link::before {
    right: auto;
  }
}

/* ==========================================================
 sp フッター cvボタン
========================================================== */
@media screen and (max-width: 736px) {
  .list-bukken-contact {
    justify-content: center;
  }
}

/* ==========================================================
 hidden
 10月リリース時点で非表示にする
 ・お気に入りボタン
========================================================== */
.list-property-control-item-favorite , .list-bukken-contact-item.favorite {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header-property-btn-favorite.only-sp {
    display: none !important;
  }
}


/* ==========================================================
  総合メニュー（バグ表示）隠し
========================================================== */
@media screen and (max-width: 1200px) {
  .header-property-btn-menu.header-brand-menu {
    color: transparent;
  }
}
