@charset "utf-8";

/******************************

 * parts style
 *

******************************/

/* --------------------------------------------------------------------------------
	caption
-------------------------------------------------------------------------------- */
.cap,
.cap-right,
.caption,
.caption-in-right,
.caption-in-left,
.caption-out-right,
.caption-out-left {
	color: #999;
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 0.05em;
	background: none;
	font-family: 'YuGothicStd',
		'ヒラギノ角ゴ Pro W3',
		'Hiragino Kaku Gothic Pro',
		'メイリオ',
		Meiryo,
		'ＭＳ Ｐゴシック',
		sans-serif;
}

.cap {
	padding-top: 7px;
}

.cap-right {
	padding-top: 7px;
	text-align: right;
}

.caption-in-right {
	position: absolute;
	right: 5px;
	bottom: 3px;
	font-weight: bold;
}

@media only screen and (max-width:768px) {
	.caption-in-right {
		right: 3px;
		bottom: 0;
	}
}

.caption-in-left {
	position: absolute;
	left: 5px;
	bottom: 3px;
	font-weight: bold;
}

@media only screen and (max-width:768px) {
	.caption-in-left {
		left: 3px;
		bottom: 0;
	}
}

.caption-out-right {
	position: absolute;
	right: 0;
	bottom: -22px;
}

@media only screen and (max-width:768px) {
	.caption-out-right {
		position: static;
		padding-top: 7px;
		text-align: right;
	}
}

.caption-out-left {
	position: absolute;
	left: 0;
	bottom: -22px;
}

@media only screen and (max-width:768px) {
	.caption-out-left {
		position: static;
		padding-top: 7px;
	}
}

.caption--low-main-visual {
	position: absolute;
	left: 5px;
	bottom: -22px;
}

@media only screen and (max-width:768px) {
	.caption--low-main-visual {
		position: static;
		padding-top: 7px;
	}
}

.caption--white,
.caption-in-right--white,
.caption-in-left--white,
.caption-out-right--white,
.caption-out-left--white {
	color: #fff;
}

@media only screen and (max-width:768px) {
	.caption-out-right--sp_left {
		right: auto;
		left: 10px;
	}
}

/* --------------------------------------------------------------------------------
	color
-------------------------------------------------------------------------------- */
.color-white {
	color: #fff;
}

.color-gray {
	color: #666;
}

.color-black {
	color: #000;
}

/* --------------------------------------------------------------------------------
	font
-------------------------------------------------------------------------------- */
.en {
	font-family: 'EB Garamond', serif;
}

/* --------------------------------------------------------------------------------
	title
-------------------------------------------------------------------------------- */
.page-title {
	font-family: 'EB Garamond', serif !important;
}

.page-title--pc {
	width: 1000px;
	font-size: 50px;
	line-height: 1;
	color: #fff;
	letter-spacing: 0.1em;
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	margin: auto;
	z-index: 4;
}

@media only screen and (max-width:1200px) {
	.page-title--pc {
		top: 45px;
	}
}

@media only screen and (max-width:1000px) {
	.page-title--pc {
		width: 94%;
	}
}

@media only screen and (max-width:768px) {
	.page-title--pc {
		display: none;
	}
}

.page-title--sp {
	display: none;
}

@media only screen and (max-width:768px) {
	.page-title--sp {
		display: block;
		width: 94%;
		font-size: 32px;
		line-height: 1;
		color: #fff;
		letter-spacing: 0.1em;
		position: absolute;
		left: 0;
		right: 0;
		top: 30px;
		margin: auto;
		z-index: 4;
	}
}

.page-title__initial {
	font-size: 84px;
}

@media only screen and (max-width:768px) {
	.page-title__initial {
		font-size: 46px;
	}
}

.section__title {
	display: flex;
	align-items: flex-end;
	font-family: 'EB Garamond', serif;
	font-size: 14px;
	letter-spacing: 0.25em;
}

.section__title:before {
	content: '';
	flex-grow: 1;
	height: 1px;
	/* 線の太さを変えたいときはここを変える */
	background: #507086;
	/* 線の色を変えたいときはここを変える */
	margin: 0.8em 10px;
	/* 文字と線の余白用 なくても良い */
	display: block;
	opacity: 0;
	transition: 1.6s;
}

.section__title.aos-animate:before {
	-webkit-animation: ttlArea 1.0s ease 1.2s 1 forwards;
	/*表示時間+start時間*/
	animation: ttlArea 1.0s ease 1.2s 1 forwards;
	/*表示時間+start時間*/
}

@-webkit-keyframes ttlArea {
	100% {
		opacity: 1;
	}
}

@keyframes ttlArea {
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width:1200px) {
	.section__title {
		position: relative;
		z-index: 3;
	}

	.section__title:before {
		content: none;
	}

	.section__title:after {
		content: '';
		flex-grow: 1;
		height: 1px;
		/* 線の太さを変えたいときはここを変える */
		background: #507086;
		/* 線の色を変えたいときはここを変える */
		margin: 0.8em 10px;
		/* 文字と線の余白用 なくても良い */
		display: block;
		opacity: 0;
	}

	.section__title.aos-animate:after {
		-webkit-animation: ttlArea 1.0s ease 1.2s 1 forwards;
		/*表示時間+start時間*/
		animation: ttlArea 1.0s ease 1.2s 1 forwards;
		/*表示時間+start時間*/
	}

	@-webkit-keyframes ttlArea {
		100% {
			opacity: 1;
		}
	}

	@keyframes ttlArea {
		100% {
			opacity: 1;
		}
	}
}

.section__heading {
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: 3px;
}

@media only screen and (max-width:768px) {
	.section__heading {
		font-size: 16px;
		letter-spacing: 1.5px;
	}
}

/* --------------------------------------------------------------------------------
	image
-------------------------------------------------------------------------------- */
.image-wrap {
	position: relative;
}


/* --------------------------------------------------------------------------------
	text
-------------------------------------------------------------------------------- */
.text {
	font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	line-height: 1.86;
	letter-spacing: 2.2px;
}

@media only screen and (max-width:768px) {
	.text {
		letter-spacing: 1.1px;
	}
}

/* --------------------------------------------------------------------------------
	flexBox
-------------------------------------------------------------------------------- */
.flexBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* --------------------------------------------------------------------------------
	pc sp
-------------------------------------------------------------------------------- */
.sp {
	display: none;
}

@media only screen and (max-width:768px) {
	.sp {
		display: inline-block;
	}

	.pc {
		display: none;
	}
}

/* --------------------------------------------------------------------------------
	typewriter
-------------------------------------------------------------------------------- */
[data-aos="typeWriter"] {
	transition: .4s ease-in;
	opacity: 0;
}

[data-aos="typeWriter"].aos-animate {
	opacity: 1;
}

[data-aos="typeWriter"] .type {
	display: inline-block;
	transition: 1s ease-in;
	opacity: 0;
}

[data-aos="typeWriter"] .type-top {
	transition: .4s ease-in;
	transition-delay: 1s;
}

[data-aos="typeWriter"] .type-right {
	transition: .6s ease-in;
	transition-delay: .8s;
}

[data-aos="typeWriter"] .type-left {
	transition: .8s ease-in;
	transition-delay: .6s;
}

[data-aos="typeWriter"] .type-bottom {
	transition: 1s ease-in;
	transition-delay: .4s;
}

[data-aos="typeWriter"].aos-animate .type {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}

/* --------------------------------------------------------------------------------
	scroll-slide
-------------------------------------------------------------------------------- */
.scroll-slide {
	display: none;
}

@media only screen and (max-width:768px) {
	.scroll-slide {
		display: block;
	}

	.scroll-slide__image-holder {
		position: relative;
		margin: 0;
		overflow: hidden;
	}

	.scroll-slide__image-wrap {
		max-width: 100%;
		height: 325px;
		margin: auto;
		overflow-x: scroll;
		padding: 20px 0;
	}

	.scroll-slide__image {
		max-width: none;
		height: 100%;
	}
}
