@charset 'utf-8';
/* --------------------------------------------------------------------------------
  opening-anime
-------------------------------------------------------------------------------- */
.no-scroll {
  overflow: hidden;
}
.opening-anime {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 99999;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.opening-anime__skip-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999999;
}
@media screen and (max-width: 768px) {
  .opening-anime__skip-btn {
    top: 10px;
    right: 10px;
  }
}
.opening-anime__title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px 0 0 -190px;
  font-size: 26px;
  font-family: 'EB Garamond', serif;
  color: #001425;
  line-height: 1;
  letter-spacing: 10px;
}
@media screen and (max-width: 768px) {
  .opening-anime__title {
    margin: -21px 0 0 -71px;
    font-size: 21px;
    letter-spacing: 5px;
    text-align: center;
  }
}
.opening-anime__line-front {
  display: none;
  position: absolute;
  top: 50%;
  left: 410px;
  height: 1px;
  -webkit-animation: lineAnime 2s ease-out forwards;
  animation: lineAnime 2s ease-out forwards;
  background-color: #bfbfbf;
}
@media screen and (max-width: 768px) {
  .opening-anime__line-front {
    left: 160px;
    -webkit-animation: lineAnimeSp 2s ease-out forwards;
    animation: lineAnimeSp 2s ease-out forwards;
  }
}
.opening-anime__line-back {
  display: none;
  position: absolute;
  top: 50%;
  right: 410px;
  height: 1px;
  -webkit-animation: lineAnime 2s ease-out forwards;
  animation: lineAnime 2s ease-out forwards;
  background-color: #bfbfbf;
}
@media screen and (max-width: 768px) {
  .opening-anime__line-back {
    right: 160px;
    -webkit-animation: lineAnimeSp 2s ease-out forwards;
    animation: lineAnimeSp 2s ease-out forwards;
  }
}
.opening-anime__first-word {
  padding-right: 10px;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .opening-anime__first-word {
    padding-right: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
.opening-anime__second-word {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .opening-anime__second-word {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
.opening-anime__image {
  width: 100%;
  opacity: 0;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* --------------------------------------------------------------------------------
  main-visual
-------------------------------------------------------------------------------- */
.main-visual {
  position: relative;
  overflow: hidden;
  width: 100vw;
}
@media screen and (max-width: 768px) {
  .main-visual {
    height: calc(750 / 855 * 100%);
  }
}
.main-visual__bg-image {
  width: 100%;
}
.main-visual__building {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.main-visual__building-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-visual__building-image--order_second {
  opacity: 0;
}
.main-visual__building-image--order_third {
  opacity: 0;
}
.main-visual__building-image--order_four {
  opacity: 0;
}
.main-visual__text-block {
  position: absolute;
  top: calc(130 / 671 * 100%);
  left: calc(100 / 1440 * 100%);
}
@media screen and (max-width: 768px) {
  .main-visual__text-block {
    top: calc(55 / 855 * 100%);
    left: calc(50 / 750 * 100%);
    width: calc(280 / 750 * 100%);
    height: calc(325 / 855 * 100%);
  }
}
.main-visual__text-svg {
  width: 250.593px;
  height: 279.953px;
}
@media screen and (max-width: 768px) {
  .main-visual__text-svg {
    width: 100%;
    height: 100%;
  }
}
.main-visual__heading {
  opacity: 0;
  fill: #fff;
}
.main-visual__text-line {
  opacity: 0;
  fill: #fff;
}
.main-visual__character {
  opacity: 0;
  fill: #fff;
}
/* --------------------------------------------------------------------------------
  usp
-------------------------------------------------------------------------------- */
.usp__upper-block {
  padding: 22.5px 0;
  background: url("../imgs/bg-usp@2x.jpg") repeat-x center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .usp__upper-block {
    padding: 18.5px 0;
    background: url("../imgs/sp/bg-usp.jpg") no-repeat top;
    background-size: cover;
  }
}
.usp__lower-block {
  padding: 26.5px 0;
  background-color: #010c19;
}
@media screen and (max-width: 768px) {
  .usp__lower-block {
    padding: 15px 0;
  }
}
.usp__wrap {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .usp__wrap {
    padding: 0 20px;
  }
}
.usp__heading {
/* spのフォントサイズを指定 */
  font-size: 18px;
  font-size: 4.8vw;
  letter-spacing: 5.5px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 769px) {
  .usp__heading {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .usp__heading {
    letter-spacing: 2px;
  }
}
.usp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .usp__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.usp__item {
  font-size: 22px;
/* spのフォントサイズを指定 */
  font-size: 15px;
  font-size: 4vw;
  line-height: 0.95;
  letter-spacing: 1.5px;
  color: #fff;
}
@media screen and (min-width: 769px) {
  .usp__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .usp__item {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
  }
  .usp__item:last-child {
    margin-bottom: 0;
  }
}
.usp__num {
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  line-height: 0.75;
  letter-spacing: normal;
}
.usp__num--01 {
/* spのフォントサイズを指定 */
  font-size: 24px;
  font-size: 6.4vw;
  letter-spacing: 4.5px;
  color: #cea673;
}
@media screen and (min-width: 769px) {
  .usp__num--01 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .usp__num--01 {
    letter-spacing: 2.3px;
  }
}
.usp__num--02 {
/* spのフォントサイズを指定 */
  font-size: 27.5px;
  font-size: 7.333333333333333vw;
  color: #cea673;
}
@media screen and (min-width: 769px) {
  .usp__num--02 {
    font-size: 39px;
  }
}
@media screen and (max-width: 768px) {
  .usp__num--02 {
    letter-spacing: 2.7px;
  }
}
.usp__num--03 {
/* spのフォントサイズを指定 */
  font-size: 21.5px;
  font-size: 5.733333333333333vw;
  letter-spacing: 3.8px;
  color: #cea673;
}
@media screen and (min-width: 769px) {
  .usp__num--03 {
    font-size: 29px;
  }
}
@media screen and (max-width: 768px) {
  .usp__num--03 {
    letter-spacing: 1.9px;
    letter-spacing: 1;
  }
}
.usp__small-text {
/* spのフォントサイズを指定 */
  font-size: 12px;
  font-size: 3.2vw;
  line-height: 1.29;
  letter-spacing: 0.7px;
}
@media screen and (min-width: 769px) {
  .usp__small-text {
    font-size: 14px;
  }
}
.usp__minutes {
/* spのフォントサイズを指定 */
  font-size: 13px;
  font-size: 3.466666666666667vw;
  letter-spacing: 2.3px;
}
@media screen and (min-width: 769px) {
  .usp__minutes {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .usp__minutes {
    letter-spacing: 1.2px;
  }
}
.usp__english {
  font-family: 'EB Garamond', serif;
/* spのフォントサイズを指定 */
  font-size: 19px;
  font-size: 5.066666666666666vw;
  font-weight: normal;
  letter-spacing: 3.3px;
  color: #cea673;
}
@media screen and (min-width: 769px) {
  .usp__english {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .usp__english {
    letter-spacing: 1.6px;
  }
}
.usp .from-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  width: calc(330 / 1000 * 100%);
  padding-right: calc(17 / 1000 * 100%);
  border-right: 1px solid #4e5763;
}
@media screen and (max-width: 768px) {
  .usp .from-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 0 0 10px 0;
    border-right: none;
    border-bottom: 1px solid #4e5763;
  }
}
.usp .from-item__text-01 {
/* spのフォントサイズを指定 */
  font-size: 12px;
  font-size: 3.2vw;
  line-height: 1.29;
  letter-spacing: 0;
}
@media screen and (min-width: 769px) {
  .usp .from-item__text-01 {
    font-size: 13px;
    margin-right: 8px;
  }
}
.usp .from-item__text-03 {
  width: 100%;
  line-height: 0.95;
  letter-spacing: normal;
}
.usp .from-item__station {
  color: #cea673;
}
.usp .to-item {
  width: calc(190 / 1000 * 100%);
  padding: 0 calc(17 / 1000 * 100%);
  border-right: 1px solid #4e5763;
  letter-spacing: 0;
}
@media screen and (max-width: 768px) {
  .usp .to-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 10px 0;
    border-right: none;
    border-bottom: 1px solid #4e5763;
  }
}
.to-item__text-01 {
  text-align: center;
}
.to-item__text-02 {
  text-align: center;
}
.usp .spec-item {
  width: calc(205 / 1000 * 100%);
  padding: 0 calc(17 / 1000 * 100%);
  border-right: 1px solid #4e5763;
}
@media screen and (max-width: 768px) {
  .usp .spec-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 10px 0;
    border-right: none;
    border-bottom: 1px solid #4e5763;
    line-height: 1;
  }
}
.spec-item__text-01 {
  text-align: center;
}
.spec-item__text-02 {
  text-align: center;
}
.usp .eco-item {
  width: calc(275 / 1000 * 100%);
  padding-left: calc(17 / 1000 * 100%);
  line-height: 1.75;
}
@media screen and (max-width: 768px) {
  .usp .eco-item {
    width: auto;
    padding: 0;
    border-right: none;
  }
}
.usp .eco-item__text-01 {
/* spのフォントサイズを指定 */
  font-size: 14px;
  font-size: 3.733333333333333vw;
  letter-spacing: 2.1px;
}
@media screen and (min-width: 769px) {
  .usp .eco-item__text-01 {
    font-size: 16px;
  }
}
.usp .eco-item__text-02 {
/* spのフォントサイズを指定 */
  font-size: 16px;
  font-size: 4.266666666666667vw;
  letter-spacing: 1px;
  color: #cea673;
}
@media screen and (min-width: 769px) {
  .usp .eco-item__text-02 {
    font-size: 22px;
  }
}
/* --------------------------------------------------------------------------------
  info
-------------------------------------------------------------------------------- */
.info {
  position: relative;
  background: url("../imgs/bg-info@2x.jpg") no-repeat center top;
  background-size: cover;
  margin-bottom: 100px;
  padding: 3px 0;
  border-top: solid 2px #896b45;
  border-bottom: solid 2px #896b45;
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 50px;
  }
}
.info__inner {
  position: relative;
  border-top: solid 1px #896b45;
  border-bottom: solid 1px #896b45;
  padding: 62px 0 60px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .info__inner {
    padding: 30px 0;
  }
}
.info__title {
  position: relative;
  margin-bottom: 45px;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 5.5px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .info__title {
    margin-bottom: 25px;
    font-size: 12px;
  }
}
.info__title:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(50% - 115px);
  height: 1px;
  background-color: #bfbfbf;
}
.info__title:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: calc(50% - 110px);
  height: 1px;
  background-color: #bfbfbf;
}
.info__text-block {
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .info__text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.info__text-block:last-of-type {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .info__text-block:last-of-type {
    margin-bottom: 20px;
  }
}
.info__heading {
  margin-bottom: 8px;
  font-size: 26px;
  line-height: 1.35;
  letter-spacing: 2.9px;
}
@media screen and (max-width: 768px) {
  .info__heading {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
}
.info__heading__small-text {
  font-size: 16px;
  letter-spacing: 1.8px;
}
@media screen and (max-width: 768px) {
  .info__heading__small-text {
    font-size: 14px;
    letter-spacing: 0.9px;
  }
}
.info__text {
  line-height: 1.86;
  letter-spacing: 3.2px;
}
.info__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info__cv-item {
  background: #fff;
}
@media screen and (max-width: 768px) {
  .info__cv-item {
    width: 70%;
  }
}
.info__cv-link {
  width: 315px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  padding: 17px 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
@media screen and (max-width: 768px) {
  .info__cv-link {
    width: 100%;
    font-size: 14px;
  }
}
.info__cv-link--request {
  background: -webkit-gradient(linear, left top, right top, from(#8d6d43), color-stop(30%, #b98f59), color-stop(70%, #b98f59), to(#8d6d43));
  background: -webkit-linear-gradient(left, #8d6d43 0%, #b98f59 30%, #b98f59 70%, #8d6d43 100%);
  background: -o-linear-gradient(left, #8d6d43 0%, #b98f59 30%, #b98f59 70%, #8d6d43 100%);
  background: linear-gradient(90deg, #8d6d43 0%, #b98f59 30%, #b98f59 70%, #8d6d43 100%);
}
.info__cv-link:hover {
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  .info__cv-link:hover {
    opacity: 1;
  }
}
/* --------------------------------------------------------------------------------
  low-introduction;
-------------------------------------------------------------------------------- */
.low-introduction {
  position: relative;
  margin: 0 0 90px;
  padding: 80px 0 75px;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .low-introduction {
    margin: 0 0 70px;
    padding: 40px 0 0;
  }
}
.low-introduction:last-of-type {
  margin-bottom: 35px;
}
.low-introduction:before {
  content: '';
  position: absolute;
  top: 0;
  width: calc(680 / 1440 * 100%);
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .low-introduction:before {
    width: calc(160 / 750 * 100%);
  }
}
.low-introduction--navy {
  background: url("../imgs/bg-navy.jpg") repeat-x top;
}
@media screen and (max-width: 768px) {
  .low-introduction--navy {
    background: url("../imgs/sp/bg-navy.jpg") no-repeat right top;
    background-size: 79% 55%;
  }
}
.low-introduction--navy:before {
  left: 0;
}
.low-introduction--gray {
  background: url("../imgs/bg-gray.jpg") repeat-x top;
}
@media screen and (max-width: 768px) {
  .low-introduction--gray {
    background: url("../imgs/sp/bg-gray.jpg") no-repeat left top;
    background-size: 79% 55%;
  }
}
.low-introduction--gray:before {
  right: 0;
}
.low-introduction__wrap {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 2;
}
.low-introduction__title {
  position: absolute;
  top: -63px;
  left: 0;
  line-height: 1;
  letter-spacing: 10px;
  color: #fff;
  z-index: 3;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .low-introduction__title {
    top: -9%;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 768px) {
  .low-introduction__title--bg_navy {
    right: 0;
    left: auto;
    color: #000;
  }
}
.low-introduction__initials {
  display: inline-block;
  position: relative;
/* spのフォントサイズを指定 */
  font-size: 49px;
  font-size: 13.066666666666666vw;
  white-space: nowrap;
}
@media screen and (min-width: 769px) {
  .low-introduction__initials {
    font-size: 84px;
  }
}
.low-introduction__initials:before {
  content: attr(data-splitInitial);
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  color: #000;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .low-introduction__initials--bg_navy:before {
    color: #fff;
  }
}
.low-introduction__string {
  display: inline-block;
  position: relative;
/* spのフォントサイズを指定 */
  font-size: 32px;
  font-size: 8.533333333333333vw;
  white-space: nowrap;
}
@media screen and (min-width: 769px) {
  .low-introduction__string {
    font-size: 50px;
  }
}
.low-introduction__string:before {
  content: attr(data-splitString);
  position: absolute;
  top: 0;
  left: 0;
  height: 63%;
  color: #000;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .low-introduction__string--bg_navy:before {
    color: #fff;
  }
}
.low-introduction__visual {
  position: relative;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .low-introduction__visual {
    margin-bottom: 80px;
  }
}
.low-introduction__visual--link {
  display: block;
}
.low-introduction__visual--link:hover .low-introduction__image {
  -webkit-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
}
@media screen and (max-width: 768px) {
  .low-introduction__visual--link:hover .low-introduction__image {
    -webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }
}
.low-introduction__image {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.low-introduction__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .low-introduction__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px;
  }
}
.low-introduction__text {
  position: relative;
  width: calc(420 / 1000 * 100%);
  padding: 40px calc(40 / 1000 * 100%) 0 0;
/* spのフォントサイズを指定 */
  font-size: 18px;
  font-size: 4.8vw;
  line-height: 1.6;
  letter-spacing: 3px;
  text-align: left;
}
@media screen and (min-width: 769px) {
  .low-introduction__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .low-introduction__text {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    letter-spacing: 0.5px;
  }
}
.low-introduction__line {
  display: none;
  position: absolute;
  top: 0;
  left: -24px;
  -webkit-animation: lineAnime2 1s ease-out forwards;
  animation: lineAnime2 1s ease-out forwards;
  width: 1px;
  height: 100%;
  background-color: #b78e58;
}
.low-introduction__view-more {
  width: calc(540 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .low-introduction__view-more {
    width: 100%;
  }
}
.low-introduction__link {
  display: block;
  position: relative;
  width: calc(210 / 540 * 100%);
  margin: 50px auto 0;
  padding: 11.5px 0;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  font-family: 'EB Garamond', serif;
/* spのフォントサイズを指定 */
  font-size: 10px;
  font-size: 2.666666666666667vw;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .low-introduction__link {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .low-introduction__link {
    width: 100%;
    margin: 0 auto;
  }
}
.low-introduction__link--bg_navy {
  border: solid 1px #a08765;
  color: #f5d7b0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(160,135,101,0.5)), color-stop(45%, #e0bc8c), color-stop(55%, #e0bc8c), to(rgba(160,135,101,0.5)));
  background: -webkit-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  background: -o-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  background: linear-gradient(90deg, rgba(160,135,101,0.5) 0%, #e0bc8c 45%, #e0bc8c 55%, rgba(160,135,101,0.5) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .low-introduction__link--bg_navy {
    border: solid 1px #8c6c43;
    color: #8c6c43;
    background: none;
    background-clip: initial;
    -webkit-text-fill-color: initial;
  }
}
.low-introduction__link--bg_navy:before,
.low-introduction__link--bg_navy:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 60%;
  height: 1px;
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(160,135,101,0.5)), color-stop(20%, #e0bc8c), color-stop(80%, #e0bc8c), to(rgba(160,135,101,0.5)));
  background: -webkit-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 20%, #e0bc8c 80%, rgba(160,135,101,0.5) 100%);
  background: -o-linear-gradient(left, rgba(160,135,101,0.5) 0%, #e0bc8c 20%, #e0bc8c 80%, rgba(160,135,101,0.5) 100%);
  background: linear-gradient(90deg, rgba(160,135,101,0.5) 0%, #e0bc8c 20%, #e0bc8c 80%, rgba(160,135,101,0.5) 100%);
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .low-introduction__link--bg_navy:before,
  .low-introduction__link--bg_navy:after {
    display: none;
  }
}
.low-introduction__link--bg_navy:before {
  top: -1px;
}
.low-introduction__link--bg_navy:after {
  bottom: -1px;
}
.low-introduction__link--bg_white {
  border: solid 1px #8c6c43;
  color: #8c6c43;
}
.low-introduction__link:hover {
  letter-spacing: 6px;
}
@media screen and (max-width: 768px) {
  .low-introduction__link:hover {
    letter-spacing: 3px;
  }
}
/* --------------------------------------------------------------------------------
  other-contents
-------------------------------------------------------------------------------- */
.other-contents {
  padding: 78px 0 90px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
@media screen and (max-width: 768px) {
  .other-contents {
    padding: 40px 0 45px;
  }
}
.other-contents__title {
  margin-bottom: 32px;
  font-family: 'EB Garamond', serif;
  line-height: 1.19;
  color: #00192d;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .other-contents__title {
    margin-bottom: 20px;
  }
}
.other-contents__upper-title {
  display: block;
/* spのフォントサイズを指定 */
  font-size: 35px;
  font-size: 9.333333333333334vw;
  font-size: 46px;
  letter-spacing: 5.5px;
}
@media screen and (min-width: 769px) {
  .other-contents__upper-title {
    font-size: 46px;
  }
}
@media screen and (max-width: 768px) {
  .other-contents__upper-title {
    letter-spacing: 2.8px;
  }
}
.other-contents__low-title {
  display: block;
  padding-left: 20px;
/* spのフォントサイズを指定 */
  font-size: 29px;
  font-size: 7.733333333333333vw;
  letter-spacing: 4.3px;
}
@media screen and (min-width: 769px) {
  .other-contents__low-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .other-contents__low-title {
    letter-spacing: 2.2px;
  }
}
.other-contents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .other-contents__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.other-contents__item {
  width: calc(314 / 1000 * 100%);
  max-width: 314px;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  margin: 0 30px 30px;
}
@media screen and (max-width: 768px) {
  .other-contents__item {
    width: auto;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 768px) {
  .other-contents__item:last-child {
    margin-bottom: 0;
  }
}
.other-contents__image {
  position: relative;
}
.other-contents__heading {
  margin-bottom: 23px;
  font-family: 'EB Garamond', serif;
/* spのフォントサイズを指定 */
  font-size: 24px;
  font-size: 6.4vw;
  line-height: 0.7;
  letter-spacing: 2.9px;
  color: #8c6c43;
}
@media screen and (min-width: 769px) {
  .other-contents__heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .other-contents__heading {
    margin-bottom: 15px;
  }
}
.other-contents__text {
  font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1.9px;
}
@media screen and (max-width: 768px) {
  .other-contents__text {
    letter-spacing: 1px;
  }
}
.other-contents__view-more {
  margin-top: 23px;
}
.other-contents__link {
  display: block;
  width: 100%;
  padding: 11.5px 0;
  border: solid 1px #8c6c43;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  font-family: 'EB Garamond', serif;
/* spのフォントサイズを指定 */
  font-size: 10px;
  font-size: 2.666666666666667vw;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #8c6c43;
}
@media screen and (min-width: 769px) {
  .other-contents__link {
    font-size: 10px;
  }
}
.other-contents__link:hover {
  letter-spacing: 6px;
}
@media screen and (max-width: 768px) {
  .other-contents__link:hover {
    letter-spacing: 3px;
  }
}
/* --------------------------------------------------------------------------------
  mutual-link;
-------------------------------------------------------------------------------- */
.mutual-link {
  padding: 47px 0 50px;
  background-color: #051321;
}
@media screen and (max-width: 768px) {
  .mutual-link {
    padding: 25px 0;
  }
}
.mutual-link__heading {
  margin-bottom: 27px;
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Noto Serif Japanese', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.13;
  letter-spacing: 3.4px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .mutual-link__heading {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 1.7px;
  }
}
.mutual-link__bnr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .mutual-link__bnr-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.mutual-link__bnr-item {
  width: calc(340 / 1000 * 1000%);
  max-width: 340px;
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .mutual-link__bnr-item {
    width: auto;
    margin: 0 0 20px;
  }
  .mutual-link__bnr-item:last-child {
    margin-bottom: 0;
  }
}
.mutual-link__bnr-link {
  display: inline-block;
  background-color: #fff;
}
.mutual-link__bnr-image {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.mutual-link__bnr-image:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .mutual-link__bnr-image:hover {
    opacity: 1;
  }
}
/* --------------------------------------------------------------------------------
  ie用
-------------------------------------------------------------------------------- */
.ie11 .main-visual__middle-dot,
.ie .main-visual__middle-dot {
  vertical-align: top;
}
@-moz-keyframes lineAnime {
  from {
    width: 0;
  }
  to {
    width: 120px;
  }
}
@-webkit-keyframes lineAnime {
  from {
    width: 0;
  }
  to {
    width: 120px;
  }
}
@-o-keyframes lineAnime {
  from {
    width: 0;
  }
  to {
    width: 120px;
  }
}
@keyframes lineAnime {
  from {
    width: 0;
  }
  to {
    width: 120px;
  }
}
@-moz-keyframes lineAnimeSp {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@-webkit-keyframes lineAnimeSp {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@-o-keyframes lineAnimeSp {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@keyframes lineAnimeSp {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@-moz-keyframes textLine {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}
@-webkit-keyframes textLine {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}
@-o-keyframes textLine {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}
@keyframes textLine {
  from {
    height: 0;
  }
  to {
    height: 90%;
  }
}
@-moz-keyframes lineAnime2 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-webkit-keyframes lineAnime2 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-o-keyframes lineAnime2 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes lineAnime2 {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
