@charset 'utf-8';

/* --------------------------------------------------------------------------------
	common.css chang / modifier
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 140px;
}

@media screen and (max-width: 768px) {
  #container {
    padding-bottom: 70px;
  }
}

.page-introduction {
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .page-introduction {
    margin-bottom: 25px;
  }
}

.page-introduction .section__heading {
  text-align: center;
}

/* --------------------------------------------------------------------------------
	map
-------------------------------------------------------------------------------- */
.map__image {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .map__image {
    margin-bottom: 30px;
  }
}

.map__zoom-block {
  max-width: 660px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 768px) {
  .map__zoom-block {
    margin: 0 auto 30px;
  }
}

.map__zoom-heading {
  margin-bottom: 20px;
  line-height: 1.07;
  letter-spacing: 2.1px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .map__zoom-heading {
    font-size: 12px;
  }
}

.map__zoom-image {
  text-align: center;
}

.map__zoom-cap {
  margin-top: 20px;
}

.map__address-block {
  margin: 0 auto 50px;
  text-align: center;
}

.map__address-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 2.7px;
  text-align: center;
}

.map__address-cap {
  font-size: 14px;
  letter-spacing: 2.1px;
}

.map__text-block {
  margin-bottom: 55px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .map__text-block {
    margin-bottom: 30px;
  }
}

.map__cap {
  margin-top: 10px;
  line-height: 1.07;
  letter-spacing: 0.7px;
  color: #999;
}

.map__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .map__btn-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.map__btn-link {
  display: block;
  position: relative;
  width: calc(314 / 1000 * 100%);
  margin: 0 15px;
  padding: 9.5px 0;
  border: solid 1px #8c6c43;
  border-radius: 25px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  line-height: 1;
  letter-spacing: 4.2px;
  text-align: center;
  color: #8c6c43;
}

@media screen and (max-width: 768px) {
  .map__btn-link {
    width: 100%;
    margin: 0 auto;
  }
}

.map__btn-link:hover {
  letter-spacing: 8.4px;
}

@media screen and (max-width: 768px) {
  .map__btn-link:hover {
    letter-spacing: 4.2px;
  }
}

@media screen and (max-width: 768px) {
  .map__btn-link--print {
    display: none;
  }
}

.map__text {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 2.7px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .map__text {
    margin-top: 25px;
    font-size: 16px;
    letter-spacing: 1.4px;
  }
}

/* --------------------------------------------------------------------------------
	print
-------------------------------------------------------------------------------- */
@media print {

  .header-property,
  .low-main-visual,
  .map__btn-block,
  .ftrCVarea,
  .ftrNav,
  .ftrCaption,
  .box-bukken-contact,
  .ttl-property-main,
  #seasonSliderAllWrap,
  .box-bukken,
  .area-user-footer,
  .footer-property {
    display: none;
  }

  body {
    zoom: 0.8;
  }
}
