@charset 'utf-8';
/* --------------------------------------------------------------------------------
	equipment common
-------------------------------------------------------------------------------- */
.section {
  margin-bottom: 115px;
}
@media screen and (max-width: 768px) {
  .section {
    margin-bottom: 60px;
  }
}
.section__contents-block {
  margin-top: 73px;
}
@media screen and (max-width: 768px) {
  .section__contents-block {
    margin-top: 40px;
  }
}
.section__heading {
  margin-bottom: 55px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 3px;
}
@media screen and (max-width: 768px) {
  .section__heading {
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
}
.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section__list:after {
  content: '';
  display: block;
  width: calc(314 / 1000 * 100%);
}
.section__item {
  width: calc(314 / 1000 * 100%);
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .section__item {
    width: 48.5%;
    margin-bottom: 25px;
  }
}
.section__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .section__item:nth-last-child(-n + 3) {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .section__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
.section__item-inner {
  max-width: 314px;
  margin: 0 auto;
}
.section__image {
  position: relative;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .section__image {
    margin-bottom: 15px;
  }
}
.section__sub-title {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 768px) {
  .section__sub-title {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.8px;
  }
}
/* --------------------------------------------------------------------------------
	structure
-------------------------------------------------------------------------------- */
.structure-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .structure-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.structure-list__inner {
  max-width: 486px;
  margin: 0 auto;
}
.structure-list__item {
  width: calc(486 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .structure-list__item {
    width: 100%;
    margin-bottom: 25px;
  }
  .structure-list__item:last-child {
    margin-bottom: 0;
  }
}
