@charset 'utf-8';
/* --------------------------------------------------------------------------------
	common.css chang / modifier
-------------------------------------------------------------------------------- */
.section__title-block {
  background-color: #02182f;
}
.section__heading--tag_blue {
  margin-bottom: 30px;
  padding-left: 20px;
  border-left: 5px solid #6a98b3;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .section__heading--tag_blue {
    margin-bottom: 15px;
    padding-left: 10px;
    border-left: 3px solid #6a98b3;
  }
}
.section__heading--tag_black {
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 5px solid #02182f;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .section__heading--tag_black {
    margin-bottom: 15px;
    padding-left: 10px;
    border-left: 3px solid #02182f;
  }
}

sup {
  vertical-align: top;
}

/* --------------------------------------------------------------------------------
	quality common
-------------------------------------------------------------------------------- */
.navy-block {
  padding-top: 80px;
  background-color: #02182f;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .navy-block {
    padding-top: 40px;
  }
}
.navy-block__heading {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.07;
  letter-spacing: 4.5px;
}
@media screen and (max-width: 768px) {
  .navy-block__heading {
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2.3px;
  }
}
.white-block__heading {
  margin-bottom: 53px;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 4.5px;
}
@media screen and (max-width: 768px) {
  .white-block__heading {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2.2px;
  }
}
/* --------------------------------------------------------------------------------
	quality-introduction
-------------------------------------------------------------------------------- */
.quality-introduction__heading {
  margin: 55px 0 40px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 3px;
  text-align: center;
  color: #8e7048;
}
@media screen and (max-width: 768px) {
  .quality-introduction__heading {
    margin: 30px 0 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
  }
}
.quality-introduction__heading__large {
  font-size: 30px;
  letter-spacing: 4.5px;
}
@media screen and (max-width: 768px) {
  .quality-introduction__heading__large {
    font-size: 24px;
    letter-spacing: 2.3px;
  }
}
.quality-introduction__tag-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 760px;
  margin: 0 auto;
}
.quality-introduction__tag {
  width: calc(224 / 760 * 100%);
}
@media screen and (max-width: 768px) {
  .quality-introduction__tag {
    width: calc(33% - 5px);
  }
}
.quality-introduction__tag-link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.quality-introduction__tag-link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .quality-introduction__tag-link:hover {
    opacity: 0;
  }
}
.quality-introduction .text--firstline {
  margin-bottom: 15px;
}
/* --------------------------------------------------------------------------------
	elegant
-------------------------------------------------------------------------------- */
.elegant {
  margin-bottom: 120px;
}
@media screen and (max-width: 768px) {
  .elegant {
    margin-bottom: 60px;
  }
}
.elegant__navy-block {
  padding-bottom: 95px;
}
@media screen and (max-width: 768px) {
  .elegant__navy-block {
    padding-bottom: 50px;
  }
}
.elegant__navy-image-block {
  margin: 68px 0 80px;
}
@media screen and (max-width: 768px) {
  .elegant__navy-image-block {
    margin: 35px 0 40px;
  }
}
.elegant__navy-image-block .section__heading {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .elegant__navy-image-block .section__heading {
    margin-bottom: 10px;
  }
}
.elegant__navy-image-block .text {
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .elegant__navy-image-block .text {
    margin-bottom: 25px;
  }
}
.elegant__card-heading {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .elegant__card-heading {
    margin-bottom: 10px;
  }
}
.elegant__card-text {
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .elegant__card-text {
    margin-bottom: 25px;
  }
}
.elegant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .elegant__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.elegant__card-field {
  width: calc(486 / 1000 * 100%);
  max-width: 486px;
}
@media screen and (max-width: 768px) {
  .elegant__card-field {
    width: auto;
    margin-bottom: 40px;
  }
  .elegant__card-field:last-of-type {
    margin-bottom: 0;
  }
}
.elegant__card-subheading {
  margin: 22px 0 17px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2.4px;
}
@media screen and (max-width: 768px) {
  .elegant__card-subheading {
    margin: 15px 0 10px;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
}
.elegant__white-block {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .elegant__white-block {
    margin-top: 50px;
  }
}
.elegant__white-image-block {
  margin: 45px 0 55px;
}
@media screen and (max-width: 768px) {
  .elegant__white-image-block {
    margin: 25px 0 30px;
  }
}
.elegant__white-wide-image {
  margin-bottom: 63px;
}
@media screen and (max-width: 768px) {
  .elegant__white-wide-image {
    margin-bottom: 35px;
  }
}
.elegant__white-subheading {
  margin: 22px 0 17px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2.4px;
}
@media screen and (max-width: 768px) {
  .elegant__white-subheading {
    margin: 15px 0 10px;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
}
.elegant__facility-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px calc(30 / 1000 * 100%);
  background-color: #e7f2f1;
}
@media screen and (max-width: 768px) {
  .elegant__facility-block {
    padding: 20px 10px;
  }
}
.elegant__facility-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(456 / 920 * 100%);
  max-width: 456px;
}
@media screen and (max-width: 768px) {
  .elegant__facility-field {
    width: 48%;
  }
  .elegant__facility-field:last-of-type {
    margin-bottom: 0;
  }
}
.elegant__facility-image {
  position: relative;
  width: calc(218 / 456 * 100%);
  max-width: 218px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .elegant__facility-image {
    width: auto;
    max-width: 100%;
  }
}
.elegant__facility-text-cell {
  width: calc(218 / 456 * 100%);
  max-width: 218px;
}
@media screen and (max-width: 768px) {
  .elegant__facility-text-cell {
    width: auto;
    max-width: 100%;
  }
}
.elegant__facility-heading {
  margin: 0 0 18px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 768px) {
  .elegant__facility-heading {
    margin: 10px 0 10px;
    letter-spacing: 0.8px;
  }
}
.caption-in-right--kitchen {
  position: absolute;
  bottom: 0;
  right: 3px;
  text-align: right;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background: none;
  font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: bold;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .caption-in-right--kitchen {
    position: relative;
    text-align: right;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    background: none;
    font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-weight: bold;
    margin-top: 5px;
  }
}
/* --------------------------------------------------------------------------------
	safety
-------------------------------------------------------------------------------- */
.safety {
  margin-bottom: 114px;
}
@media screen and (max-width: 768px) {
  .safety {
    margin-bottom: 60px;
  }
}
.safety__navy-block {
  padding-bottom: 95px;
}
@media screen and (max-width: 768px) {
  .safety__navy-block {
    padding-bottom: 50px;
  }
}
.safety__navy-composite-block {
  margin: 47px 0 80px;
}
@media screen and (max-width: 768px) {
  .safety__navy-composite-block {
    margin: 25px 0 40px;
  }
}
.safety__navy-composite-block .section__heading {
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .safety__navy-composite-block .section__heading {
    margin-bottom: 25px;
  }
}
.safety__navy-composite-block .composite-block {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .safety__navy-composite-block .composite-block {
    margin-bottom: 40px;
  }
  .safety__navy-composite-block .composite-block:last-child {
    margin-bottom: 0;
  }
}
.safety__security-block {
  padding: 35px calc(30 / 1000 * 100%);
  background-color: #e7f2f1;
  color: #000;
}
@media screen and (max-width: 768px) {
  .safety__security-block {
    padding: 20px;
  }
}
.safety__security-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .safety__security-title-row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .safety__security-title-row .section__heading {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .safety__security-title {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 10px;
  }
}
.safety__security-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .safety__security-card {
    margin-top: 30px;
  }
}
.safety__security-card:after {
  content: '';
  display: block;
  width: calc(294 / 940 * 100%);
}
.safety__security-field {
  width: calc(294 / 940 * 100%);
  margin-bottom: 38px;
}
@media screen and (max-width: 768px) {
  .safety__security-field {
    width: 48.5%;
    margin-bottom: 20px;
  }
}
.safety__security-field:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .safety__security-field:nth-last-child(-n + 2) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .safety__security-field:last-child {
    margin-bottom: 0;
  }
}
.safety__security-inner {
  max-width: 294px;
  margin: 0 auto;
}
.safety__security-subheading {
  margin: 27px 0 20px;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 1.6px;
}
@media screen and (max-width: 768px) {
  .safety__security-subheading {
    margin: 15px 0 10px;
    font-size: 14px;
    letter-spacing: 0.8px;
  }
}
.safety__white-block {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .safety__white-block {
    margin-top: 50px;
  }
}
.safety__white-composite-subheading {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 2.6px;
}
@media screen and (max-width: 768px) {
  .safety__white-composite-subheading {
    font-size: 14px;
    letter-spacing: 1.3px;
  }
}
.safety__white-collaboration-block {
  margin: 75px 0 80px;
}
@media screen and (max-width: 768px) {
  .safety__white-collaboration-block {
    margin: 40px 0;
  }
}
.safety__white-collaboration-block .section__heading {
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .safety__white-collaboration-block .section__heading {
    margin-bottom: 20px;
  }
}
.safety__white-collaboration-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .safety__white-collaboration-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.safety__white-collaboration-tokyu {
  width: calc(221 / 1000 * 100%);
  max-width: 221px;
}
@media screen and (max-width: 768px) {
  .safety__white-collaboration-tokyu {
    width: auto;
    margin-bottom: 20px;
  }
}
.safety__white-collaboration-mitsubishi {
  width: calc(308 / 1000 * 100%);
  max-width: 308px;
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .safety__white-collaboration-mitsubishi {
    width: auto;
    margin: 0 0 20px;
  }
}
.safety__white-collaboration-mitsui {
  width: calc(310 / 1000 * 100%);
  max-width: 310px;
}
@media screen and (max-width: 768px) {
  .safety__white-collaboration-mitsui {
    width: auto;
  }
}
/* --------------------------------------------------------------------------------
	smart
-------------------------------------------------------------------------------- */
.smart {
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .smart {
    margin-bottom: 50px;
  }
}
.smart__navy-block {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .smart {
    padding-bottom: 50px;
  }
}
.smart__navy-illust {
  position: relative;
  margin: 64px 0 98px;
}
@media screen and (max-width: 768px) {
  .smart__navy-illust {
    margin: 35px 0 50px;
  }
}
.smart__navy-illust-cap {
  position: absolute;
  color: #fff;
  right: 0;
  bottom: 70px;
}
@media screen and (max-width: 768px) {
  .smart__navy-illust-cap {
    position: static;
    text-align: right;
  }
}
.smart .point-block__upper-stage {
  margin-bottom: 95px;
}
@media screen and (max-width: 768px) {
  .smart .point-block__upper-stage {
    margin-bottom: 50px;
  }
}
.smart .point-block__wide-image {
  position: relative;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .smart .point-block__wide-image {
    margin-top: 20px;
  }
}
.smart .point-block__wide-image .caption-out-left {
  bottom: -40px;
}
.smart .point-block__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .smart .point-block__card {
    margin-top: 30px;
  }
}
.smart .point-block__card-field {
  width: calc(314 / 1000 * 100%);
}
@media screen and (max-width: 768px) {
  .smart .point-block__card-field {
    width: 48.5%;
    margin-bottom: 20px;
  }
}
.smart .point-block__card-field:last-of-type {
  margin-bottom: 0;
}
.smart .point-block__card-field .text {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .smart .point-block__card-field .text {
    margin-bottom: 15px;
  }
}
.smart .point-block__card-inner {
  max-width: 314px;
  margin: 0 auto;
}
.smart .point-block__card-subheading {
  margin-bottom: 10px;
  font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 16px;
  letter-spacing: 2.6px;
  color: #6a98b3;
}
@media screen and (max-width: 768px) {
  .smart .point-block__card-subheading {
    font-size: 14px;
  }
}
.smart__white-block {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .smart__white-block {
    margin-top: 50px;
  }
}
.smart__white-conposite-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .smart__white-conposite-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.smart__white-conposite-field {
  width: calc(656 / 1000 * 100%);
  max-width: 656px;
}
@media screen and (max-width: 768px) {
  .smart__white-conposite-field {
    width: auto;
    margin-bottom: 40px;
  }
}
.smart__white-conposite-label {
  margin-top: 20px;
}
.smart__white-conposite-image {
  position: relative;
  width: calc(314 / 1000 * 100%);
  max-width: 314px;
}
@media screen and (max-width: 768px) {
  .smart__white-conposite-image {
    width: auto;
  }
}
.smart__white-conposite-image:after {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  width: 104px;
  height: 104px;
  background: url("../imgs/tag-smart.png") no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .smart__white-conposite-image:after {
    top: -10px;
    right: -10px;
    width: 52px;
    height: 52px;
  }
}
.smart__white-card-block {
  margin: 75px 0 95px;
}
@media screen and (max-width: 768px) {
  .smart__white-card-block {
    margin: 40px 0 50px;
  }
}
.smart__white-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .smart__white-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.smart__white-card-field {
  width: calc(486 / 1000 * 100%);
  max-width: 486px;
}
@media screen and (max-width: 768px) {
  .smart__white-card-field {
    width: auto;
    margin-bottom: 30px;
  }
  .smart__white-card-field:last-child {
    margin-bottom: 0;
  }
}
.smart__white-card-field .text {
  margin-bottom: 40px;
}
.smart__white-facility .smart__white-grid {
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .smart__white-facility .smart__white-grid {
    margin-top: 20px;
  }
}
.smart__white-facility-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .smart__white-facility-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .smart__white-facility-card {
    margin-bottom: 30px;
  }
}
.smart__white-facility-field {
  width: calc(486 / 1000 * 100%);
  max-width: 486px;
}
@media screen and (max-width: 768px) {
  .smart__white-facility-field {
    width: auto;
    margin-bottom: 30px;
  }
  .smart__white-facility-field:last-child {
    margin-bottom: 0;
  }
}
.smart__white-facility-field .text {
  margin-bottom: 40px;
}
.smart__white-facility-field .image-wrap {
  text-align: center;
}
.smart__white-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.smart__white-grid-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(486 / 1000 * 100%);
  max-width: 486px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .smart__white-grid-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.smart__white-grid-field:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
.smart__white-grid-field--type_text {
  display: block;
}
.smart__white-grid-cell {
  position: relative;
  width: calc(233 / 486 * 100%);
  max-width: 233px;
}
@media screen and (max-width: 768px) {
  .smart__white-grid-cell {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .smart__white-grid-cell .text {
    margin-bottom: 10px;
  }
}
.smart__white-grid-cell--text_wide {
  width: calc(293 / 483 * 100%);
  max-width: 293px;
}
@media screen and (max-width: 768px) {
  .smart__white-grid-cell--text_wide {
    width: auto;
  }
}
.smart__white-grid-cell--image_small {
  width: calc(170 / 483 * 100%);
  max-width: 170px;
}
@media screen and (max-width: 768px) {
  .smart__white-grid-cell {
    width: auto;
  }
}
.smart__white-grid-heading {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 768px) {
  .smart__white-grid-heading {
    margin-bottom: 15px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.smart__white-grid-subheading {
  margin-bottom: 10px;
  font-family: 'YuGothicStd', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 16px;
  letter-spacing: 2.6px;
  color: #6a98b3;
}
@media screen and (max-width: 768px) {
  .smart__white-grid-subheading {
    font-size: 14px;
    letter-spacing: 1.3px;
  }
}
/* --------------------------------------------------------------------------------
	next-pass
-------------------------------------------------------------------------------- */
.next-pass {
  padding: 60px 0 140px;
  background-color: #e7f2f1;
}
@media screen and (max-width: 768px) {
  .next-pass {
    padding: 30px 0 70px;
  }
}
.next-pass__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .next-pass__title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.next-pass__figure-block {
  margin: 35px 0 55px;
  padding: 40px calc(20 / 1000 * 100%) 60px;
  border: 2px solid #fff;
}
@media screen and (max-width: 768px) {
  .next-pass__figure-block {
    margin: 20px 0 30px;
    padding: 20px calc(20 / 750 * 100%) 30px;
  }
}
.next-pass__figure {
  position: relative;
  max-width: 788px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .next-pass__figure {
    display: none;
  }
}
.next-pass__point-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .next-pass__point-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.next-pass .point__text-field {
  width: calc(430 / 1000 * 100%);
  max-width: 470px;
}
@media screen and (max-width: 768px) {
  .next-pass .point__text-field {
    width: auto;
    margin-bottom: 30px;
  }
}
.next-pass .point__heading {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .next-pass .point__heading {
    margin-bottom: 20px;
  }
}
.next-pass .point__composite-field {
  width: calc(470 / 1000 * 100%);
  max-width: 470px;
}
@media screen and (max-width: 768px) {
  .next-pass .point__composite-field {
    width: auto;
  }
}
.next-pass .point__image-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .next-pass .point__image-row {
    margin-top: 20px;
  }
}
.next-pass .point__image {
  position: relative;
  width: calc(230 / 470 * 100%);
}
